// main: ../flattish.scss

@import "content/sitetable";

.res-nightmode div.content { background-color: transparent !important; }

.modtools-page div.content,
div.content {
	margin-right: 350px;
	// max-width: calc(100% - 503px);
	// margin-left: 93px !important;
}

// reddit newsletter infobar
.infobar.newsletterbar {
	width: 100%;
	overflow: visible;
}