// main: ../main.scss

@import "content/sitetable";

.res-nightmode div.content { background-color: transparent !important; }


@if ($header-large == true) {
	div.content {
		position: relative;
		top: -123px;
		z-index: 1000;
	}
} @else {
	div.content {	margin: 0 em(15, 10); }
}

@media (min-width: $screen-md-min) {
	div.content {
		max-width: calc(100% - 346px);
		margin: 0;
	}
}