// main: ../main.scss

.footer { border: 0; }

.res-nightmode .flat-vert.title { color: $dark-text; }

.flat-vert.title {
  color: $light-text;
  font-size: 16px;
  transition: none;

  &:hover {
    font-size: 0;

    &::after {
      content: "<3 57";
      font-size: 16px;
    }
  }
}

.footer-parent,
.debuginfo {
  position: relative;

  @if ($header-large == true) {
		top: 297px;
	} @else {
		top: 223px;
	}
}