// main: ../flattish.scss

.footer { border: 0; }

.res-nightmode .flat-vert.title { color: $dark-text; }

.flat-vert.title {
  color: $light-text;
  font-size: 16px;
  transition: none;

  &:hover {
    font-size: 0;

    &::after {
      content: "<3 57";
      font-size: 16px;
    }
  }
}

.footer-parent,
.debuginfo {
  position: relative;

  @if $header-large {
		@if $sidebar-img {
			top: 297px + $sidebar-img-height + 16px;
		} @else {
			top: 297px;
		}
	} @else {
		@if $sidebar-img {
			top: 223px + $sidebar-img-height + 16px;
		} @else {
			top: 223px;
		}
	}
}