// main: ../main.scss

// animate header
@include keyframes(moveheader) {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

#header {
  // height: em(200, 10);
  height: em(223, 10);
  border: 0;
  // background: transparent linear-gradient(to right, #22D686, #24D3D3, #22D686, #24D3D3) repeat scroll 0% 0% / 600% 100%;
  background: transparent linear-gradient(to right, $primary, $light-accent, $primary, $light-accent) repeat scroll 0% 0% / 600% 100%;
  // background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.57) 100%), linear-gradient(to right, $primary, $light-accent, $primary, $light-accent);
  // background-repeat: repeat;
  // background-position: 0% 0%;
  // background-size: 100%, 600% 100%;
  margin-bottom: em(15, 10);
  @include animation(moveheader 20s infinite);
}

@media (min-width: $screen-md-min) {
  #header {
    width: 112%;
    left: -6%;
  }
}

@media (min-width: $screen-lg-min) {
  #header {
    width: 125%;
    left: -12.5%;
  }
}


@import "header/sr-bar";
@import "header/header-bottom-right";
@import "header/header-bottom-left";