// main: ../main.scss

#header {
  height: 0;
  border: 0;
  margin-bottom: 15px;
  background-attachment: scroll, fixed;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.57) 80%),url(%%header%%);
}

@import "header/sr-bar";
@import "header/header-bottom-right";
@import "header/header-bottom-left";