@import "../_utils/vars";

// animate header
@include keyframes(moveheader) {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

#header {
  height: em(200, 10);
  border: 0;
  // background: transparent linear-gradient(to right, #22D686, #24D3D3, #22D686, #24D3D3) repeat scroll 0% 0% / 600% 100%;
  background: transparent linear-gradient(to right, $primary, $light-accent, $primary, $light-accent) repeat scroll 0% 0% / 600% 100%;
  margin-bottom: em(15, 10);
  @include animation(moveheader 20s infinite);
}


@import "header/sr-bar";
@import "header/header-bottom-right";
@import "header/header-bottom-left";