// main: ../flattish.scss

.side,
.side * {
	z-index: 1000;
}

.res-nightmode .side,
.side {
	background-color: transparent !important;
	margin-right: 15px;
}

.side {
	position: relative;

	@if $header-large {
		@if $sidebar-img {
			top: 297px + $sidebar-img-height + 16px;
		} @else {
			top: 297px;
		}
	} @else {
		@if $sidebar-img {
			top: 223px + $sidebar-img-height + 16px;
		} @else {
			top: 223px;
		}
	}

	width: 330px;
	padding-top: 85px;

	#ad_sponsorship,
	#ad_main {
		// stupid ad widths
		box-sizing: content-box;

		// to compensate for box-sizing change
		width: 302px;
		padding: 16px 14px !important;
	}

	// first card (containing search and submit)
	.spacer {
		width: 330px;
		margin: 0 0 15px;

		&:first-of-type {
			padding: 0 !important;
			position: relative;
			top: -85px;
		}
	}

	.spacer:first-of-type,
	#ad_sponsorship,
	.titlebox,
	#moderation_tools,
	#ad_main,
	.sidecontentbox {
		font-size: 100%;
	}

	// sponsorship box & advertisement
	#ad_sponsorship {
		position: relative;
		top: -84px;
	}

	// hide mod tools collapse button
	#moderation_tools .collapse-button { display: none; }

	// hide create subreddit button and account activity div
	.sidebox.create,
	.account-activity-box {
		display: none;
	}

	// sidebar markdown area
	.md {
		table { width: 100%; }

		a {
			// hide nightmode compatibility link
			&[href="#/RES_SR_Config/NightModeCompatible"] { display: none; }

			// "get flattish" button
			&[href="https://emyarod.github.io/flattish/"] {
				display: block;
				margin: 15px 0;
			}
		}
	}
}

// login form
@import "sidebar/login";

// search
@import "sidebar/search";

// submit buttons
@import "sidebar/submit";

// titlebox
@import "sidebar/titlebox";

// sidecontentbox
@import "sidebar/sidecontentbox";
