// main: ../main.scss

.side,
.side * {
	z-index: 99999;
}

.res-nightmode .side,
.side {
	background-color: transparent;
}

.res-nightmode .side::before { background: url(%%kebab-night%%) no-repeat; }

.side {
	position: absolute;
	right: em(-5, 10);
	width: 0;
	margin: 0;
	padding-top: em(85, 10);

	.spacer,
	#ad_sponsorship,
	#ad_main {
		width: em(330, 10);
	}

	// first card (containing search and submit)
	.spacer {
		margin: 0 0 em(15, 10);

		&:first-of-type {
			position: relative;
			top: em(-85, 10);
		}
	}

	// kebab menu
	&::before {
    position: fixed;
    top: em(215, 10);
    right: 0;
    display: block;
    height: em(36, 10);
    width: em(36, 10) + 1.5em;
    content: "";
    background: url(%%kebab%%) no-repeat;
		@include transition-default;
	}

	&:hover {

		.spacer { @include transform(translateX(-351px)); }

		// make kebab disappear on hover
		&:before { opacity: 0; }
	}

	.spacer:first-of-type,
	#ad_sponsorship,
	.titlebox,
	#moderation_tools,
	#ad_main,
	.sidecontentbox {
		font-size: 100%;
		@include card(10, 1);
	}

	// sponsorship box & advertisement
	#ad_sponsorship {
		position: relative;
		top: -84px;
	}

	// hide create subreddit button and account activity div
	.sidebox.create,
	.account-activity-box {
		display: none;
	}
}

// login form
@import "sidebar/login";

// place cards beneath sidebar boxes
.res-nightmode .side .spacer:first-of-type,
.res-nightmode .side #ad_sponsorship,
.res-nightmode .side .titlebox,
.res-nightmode .side #moderation_tools,
.res-nightmode .side #ad_main,
.res-nightmode .side .sidecontentbox {
	@include card(10, 1, $light-cards, true);
}

// search
@import "sidebar/search";

// submit buttons
@import "sidebar/submit";

// titlebox
@import "sidebar/titlebox";

// sidecontentbox
@import "sidebar/sidecontentbox";

@media (min-width: $screen-md-min) {
	.side {
		position: static;
		width: em(330, 10);

		// hide kebab menu icon
		&:before { display: none; }

		&:hover .spacer { @include transform(translateX(0)); }
	}
}