// main: ../../main.scss

@mixin header-bottom-right($image, $gradient, $image-light) {
  @if ($image) {
    @if ($gradient) {
      #userbarToggle,
      #header-bottom-right .user,
      #header-bottom-right span a {
        color: $dark-secondary-text !important;
      }

      #header-bottom-right:hover span a {
        color: $dark-text !important;
      }

      .pref-lang.choice {
        background: url(%%prefs-night%%) no-repeat;
      }

      .gearIcon {
        background: transparent url(%%settings-night%%) no-repeat !important;
      }

      .logout a {
        background: url(%%logout-night%%) no-repeat;
      }
    } @else if ($image-light) {
      #userbarToggle,
      #header-bottom-right .user,
      #header-bottom-right span a {
        color: $light-secondary-text !important;
      }

      #header-bottom-right:hover span a {
        color: $light-text !important;
      }

      .pref-lang.choice {
        background: url(%%prefs%%) no-repeat;
      }

      .gearIcon {
        background: transparent url(%%settings%%) no-repeat !important;
      }

      .logout a {
        background: url(%%logout%%) no-repeat;
      }
    } @else {
      #userbarToggle,
      #header-bottom-right .user,
      #header-bottom-right span a {
        color: $dark-secondary-text !important;
      }

      #header-bottom-right:hover span a {
        color: $dark-text !important;
      }

      .pref-lang.choice {
        background: url(%%prefs-night%%) no-repeat;
      }

      .gearIcon {
        background: transparent url(%%settings-night%%) no-repeat !important;
      }

      .logout a {
        background: url(%%logout-night%%) no-repeat;
      }
    }
  } @else {
    #userbarToggle,
    #header-bottom-right .user,
    #header-bottom-right span a {
      color: set-text-color($primary, secondary-text) !important;
    }

    #header-bottom-right:hover span a {
      color: set-text-color($primary, text) !important;
    }

    .pref-lang.choice {
      background: url(%%prefs%%) no-repeat;
    }

    .gearIcon {
      background: transparent url(%%settings%%) no-repeat !important;
    }

    .logout a {
      background: url(%%logout%%) no-repeat;
    }
  }
}

// image, gradient, image-light
@include header-bottom-right(true, false, false);

@mixin userbar-buttons {
  height: em(16, 10);
  width: em(16, 10);
  color: transparent;
  display: inline-block;
  opacity: 0.87;
  position: relative;
  text-indent: em(-9999, 10);

  &:hover { opacity: 1; }
}

.res #header-bottom-right {
  @extend #header-bottom-right;
}

#header-bottom-right {
  position: absolute;
  top: em(35, 10);
  height: em(20, 10);
  margin-right: em(16, 10);
  padding: 0;
  background-color: transparent !important;
}

.res-nightmode #userbarToggle {
  @extend #userbarToggle;
}

#userbarToggle {
  background-color: transparent !important;
  border: 0 !important;
}

// preferences button
.pref-lang.choice {
  top: em(-1, 10);
  @include userbar-buttons;
}

// RES gear button
.gearIcon {
  position: relative;
  right: em(1, 10);
  top: em(3, 10);
  height: em(16, 10) !important;
  width: em(16, 10) !important;
  opacity: 0.87;

  &:hover { opacity: 1; }
}

// RES gear button on mouseover
#RESMainGearOverlay {
  background-color: transparent !important;
  border: 0 !important;
  top: em(35, 10) !important; // also positions gear icon when hovered
}

// RES settings dropdown menu
.res-nightmode #RESPrefsDropdown {
  background-color: $dark-cards !important;
}

#RESPrefsDropdown {
  margin: em(10, 10) em(10, 10) 0 0;
  border: 0;
  border-radius: em(2, 10);
  background-color: $light-cards;
  @include drop-shadow(1);
  @include animation(RES-settings 0.2s $animation-curve-default);
}

// RES settings dropdown menu choices
.res-nightmode #RESDropdownOptions li {
  @include menu-items(10, true);

  &:hover a { background-color: transparent; }

  a {
    color: $dark-text;

    &:hover { background-color: transparent; }
  }
}

#RESDropdownOptions li {
  height: auto;
  border: 0;
  border-radius: em(2, 10);
  @include menu-items;

  a {
    color: $light-text;

    &:hover { background-color: transparent; }
  }
}

// RES settings search icon
.res-nightmode #RESSearchMenuItem {
  background: url(%%search-night%%) no-repeat !important;
}

#RESSearchMenuItem {
  background: url(%%search%%) no-repeat !important;
  border: 0 !important;
}

// logout button
.logout a {
  top: em(-2, 10);
  @include userbar-buttons;
}

// @include keyframes(first-openletter) {
//   0% {
//     top: 0;
//     z-index: 2;
//     border-width: em(5, 10) em(8, 10) 0 em(8, 10);
//   }
//   25% {
//     top: em(-9, 10);
//     z-index: 0;
//     border-width: 0 em(8, 10) em(7, 10) em(8, 10);
//     @include border-color(transparent null get-color("light-blue", "800") null);
//   }
//   75% {
//     top: em(-9, 10);
//     z-index: 0;
//     border-width: 0 em(8, 10) em(7, 10) em(8, 10);
//     @include border-color(transparent null get-color("light-blue", "800") null);
//   }
//   100% {
//     top: 0;
//     z-index: 2;
//     border-width: em(5, 10) em(8, 10) 0 em(8, 10);
//     @include border-color(get-color("light-blue", "800") null transparent null);
//   }
// }
//
// @include keyframes(first-letterslide) {
//   0% { top: em(4, 1); }
//   30% { top: em(4, 1); }
//   55% { top: em(-4, 1); }
//   60% { top: em(-4, 1); }
//   85% { top: em(4, 1); }
//   100% { top: em(4, 1); }
// }
//
// // envelope
// #mail {
//   height: em(12, 10);
//   width: em(16, 10);
//   border-radius: em(1, 10);
//   border-top: em(2, 10) solid get-color("light-blue", "800");
//   background-color: get-color("light-blue", "500");
//   overflow: visible; // thx diobrando
//   vertical-align: em(-1, 10);
//
//   &.nohavemail,
//   &.havemail {
//
//     // style triangles
//     &::before,
//     &::after {
//       position: absolute;
//       content: "";
//       border-style: solid;
//       width: 0;
//       height: 0;
//       @include transition-default();
//     }
//
//     // isosceles triangle envelope flap
//     &::before {
//       top: 0;
//       left: 0;
//       z-index: 2;
//       border-style: solid;
//       border-width: em(5, 10) em(8, 10) 0 em(8, 10);
//       border-color: get-color("light-blue", "800") transparent transparent transparent;
//     }
//
//     // right triangle
//     &::after {
//       bottom: 0;
//       right: 0;
//       z-index: 1;
//       border-color: transparent transparent get-color("light-blue", "200") transparent;
//       border-style: solid;
//       border-width: 0 0 em(10, 10) em(16, 10);
//     }
//   }
//
//   // inbox empty
//   &.nohavemail { background-image: none; }
//
//   // inbox not empty
//   &.havemail {
//
//     &::before { @include animation(first-openletter 3s $animation-curve-default 2s); }
//
//     &:hover {
//       @include border-top-radius(0);
//
//       // styling for envelope flap on hover
//       &::before {
//         top: em(-9, 10);
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: 0 em(8, 10) em(7, 10) em(8, 10);
//         border-color: transparent transparent get-color("light-blue", "800") transparent;
//       }
//     }
//   }
// }

// number of unread messages
.message-count {
  position: relative;
  @include badge();

  // &::before,
  // &::after { position: absolute; }
  //
  // // left triangle
  // &::before {
  //   top: em(3.9, 10);
  //   left: em(-19, 10);
  //   z-index: 1;
  //   content: "";
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: em(5, 10) 0 em(5, 10) em(8, 10);
  //   border-color: transparent transparent transparent get-color("light-blue", "500");
  //   cursor: pointer;
  // }
  //
  // // paper
  // &::after {
  //   top: em(4, 1);
  //   left: em(-17, 1);
  //   z-index: 0;
  //   height: em(9, 1);
  //   width: em(12, 1);
  //   padding: em(2, 1);
  //   color: $light-text;
  //   content: "created by /u/fiveseven_";
  //   font-size: 1px;
  //   line-height: 1.35;
  //   background-color: #fff;
  //   @include animation(first-letterslide 3s $animation-curve-default 2s);
  // }
}