// main: ../../main.scss
#header-bottom-left .pagename a,
#header-bottom-left .pagename:hover a,
#header-bottom-left .tabmenu li a,
#header-bottom-left .tabmenu li #viewImagesButton {
  text-shadow: $text-shadow;
}

// determines text color
@mixin header-bottom-left($image, $gradient, $image-light) {
  @if ($image) {
    @if ($gradient) {
      #header-bottom-left {
        .pagename {
          a {
            color: $dark-secondary-text;
          }

          &:hover a {
            color: $dark-text;
          }
        }

        .tabmenu li {
          a,
          #viewImagesButton {
            @include tab-list-anchors(true, transparent, $light-accent, $primary, $dark-secondary-text, $dark-text);
          }
        }
      }
    } @else if ($image-light) {
      #header-bottom-left {
        .pagename {
          a {
            color: $light-secondary-text;
          }

          &:hover a {
            color: $light-text;
          }
        }

        .tabmenu li {
          a,
          #viewImagesButton {
            @include tab-list-anchors(true, transparent, $light-accent, $primary, $light-secondary-text, $light-text);
          }
        }
      }
    } @else {
      #header-bottom-left {
        .pagename {
          a {
            color: $dark-secondary-text;
          }

          &:hover a {
            color: $dark-text;
          }
        }

        .tabmenu li {
          a,
          #viewImagesButton {
            @include tab-list-anchors(true, transparent, $light-accent, $primary, $dark-secondary-text, $dark-text);
          }
        }
      }
    }
  } @else {
    #header-bottom-left {
      .pagename {
        a {
          color: set-text-color($primary, secondary-text);
        }

        &:hover a {
          color: set-text-color($primary, text);
        }
      }

      .tabmenu li {
        a,
        #viewImagesButton {
          @include tab-list-anchors(true);
        }
      }
    }
  }
}

// image, gradient, image-light
@include header-bottom-left(true, false, false);

// header image, pagename, tabmenu
#header-bottom-left {
  position: absolute;
  top: em(86, 14);
  height: em(53, 14);
  font-size: em(14, 10);

  // nested to avoid body:link styling
  .pagename { color: transparent; }

  // tabmenu
  .tabmenu {
    position: absolute;
    left: 0;
    top: em(73, 14);
    width: 100vw; // fuck IE8 support
    padding-left: em(16, 16);
    margin-top: 0;
    @include tabs;

    li {
      margin: 0;

      // hides "rising", "controversial", "ads", and "gilded" tabs
      a[href$="/rising/"],
      a[href$="/controversial/"],
      a[href$="/ads/"],
      a[href$="/gilded/"] {
        display: none;
      }

      // styles visible tabs
      a,
      #viewImagesButton {
        // @include tab-list-anchors(true);
        width: initial;
      }

      // ensures selected tab remains unchanged
      &.selected a {
        margin: 0;
        padding: 0 em(24, 14);
        background-color: transparent;
        border-bottom-color: $accent;
        border-bottom-style: solid;
        @include border-width(0 0 em(2, 14) 0);
      }
    }
  }
}

.res-nightmode #header-bottom-left .tabmenu li.selected a {
  border-bottom-color: $accent;
  border-bottom-style: solid;
  @include border-width(0 0 em(2, 14) 0);
}

// snooface
#header-img,
#header-img.default-header {
  height: em(53, 14);
  width: 0;
  @include margin(0 0 0 em(40, 16));
  padding-right: em(35, 14); // makes space for snoo visibility
  background: url(%%snoo-color%%) no-repeat;
  background-position: 0% em(5, 14);
}

// subreddit name
.pagename {
  margin: 0;
  font-size: em(16, 14);

  a {
    position: relative;
    display: inline-block;
    height: em(53, 16);
    padding: 0 em(16, 16);
    font-variant: normal;
    line-height: em(53, 16);
    text-transform: lowercase;

    &:hover { text-decoration: none; }
  }
}

@media (min-width: $screen-md-min) {
  #header-bottom-left {
    top: em(159, 14);
    height: em(64, 14);

    // restore initial tabmenu values
    .tabmenu {
      position: static;
      left: initial;
      top: initial;
      width: initial;
      padding-left: initial;
    }
  }

  #header-img,
  #header-img.default-header {
    height: em(64, 14);
    @include margin(0 0 0 em(16, 16));
    // background-position: -118px -100px;
  }

  // positioning fix for pagename and tabmenu when reddit pushes custom banner image

  .pagename a {
    height: em(64, 16);
    line-height: em(64, 16);
  }

  #header-img-a ~ {
    .pagename,
    .tabmenu {
      position: relative;
      top: em(-2, 16);
      display: inline-block;
    }
  }
}