// main: ../../main.scss
#sr-header-area .sr-bar a,
#sr-header-area .separator {
  text-shadow: $text-shadow;
}

@mixin sr-bar($image, $image-light) {
  @if ($image) {
    .res-nightmode #sr-header-area {
      background-color: transparent !important;
    }

    #sr-header-area {
      background-color: transparent;
    }

    @if ($image-light) {
      #sr-header-area {
        .dropdown.srdrop {
          .selected {
            // replace "my subreddits" with burger
            background: none;
            @include burger(em(20, 10), em(2, 10), em(4, 10), 0, $light-hint-text);
          }

          // change burger color on mouseover
          &:hover {
            .selected,
            .selected::after,
            .selected::before { background-color: $light-icons; }
          }
        }

        .sr-bar a,
        .separator {
          color: $light-secondary-text;
        }

        &:hover {
          .sr-bar a,
          .separator {
            color: $light-text;
          }
        }
      }
    } @else {
      #sr-header-area {
        .dropdown.srdrop {
          .selected {
            // replace "my subreddits" with burger
            background: none;
            @include burger(em(20, 10), em(2, 10), em(4, 10), 0, $dark-hint-text);
          }

          // change burger color on mouseover
          &:hover {
            .selected,
            .selected::after,
            .selected::before { background-color: $dark-icons; }
          }
        }

        .sr-bar a,
        .separator {
          color: $dark-secondary-text;
        }

        &:hover {
          .sr-bar a,
          .separator {
            color: $dark-text;
          }
        }
      }
    }
  } @else {
    .res-nightmode #sr-header-area {
      background-color: rgba($light-primary, 0.3) !important;
    }

    #sr-header-area {
      background-color: rgba($light-primary, 0.3);

      .dropdown.srdrop {
        .selected {
          // replace "my subreddits" with burger
          background: none;
          @include burger(em(20, 10), em(2, 10), em(4, 10), 0, set-text-color($primary, hint-text));
        }

        // change burger color on mouseover
        &:hover {
          .selected,
          .selected::after,
          .selected::before {
            background-color: set-text-color($primary, icons);
          }
        }
      }

      .sr-bar a,
      .separator {
        color: set-text-color($primary, secondary-text);
      }

      &:hover .sr-bar a,
      .separator {
        color: set-text-color($primary, text);
      }
    }
  }
}

// image, image-light
@include sr-bar(true, false);

// subreddits bar
#sr-header-area {
  height: em(30, 10);
  border: 0;
  font-size: 10px;
  line-height: em(10, 10);

  // positions text
  .sr-list {
    margin: em(10, 10) 0;
    padding: 0;
  }

  // "my subreddits" menu button
  .dropdown.srdrop {
    height: em(30, 10);
    padding: 0;
    cursor: pointer;

    .selected {
      // replace "my subreddits" with burger
      margin: em(14, 10) em(10, 10) em(10, 10);
      padding: 0;
      text-indent: -999em;
    }
  }

  .drop-choices.srdrop {
    overflow-y: scroll;

    &.inuse { margin-left: em(10, 10); }
  }
}

// right side edit button
.res-nightmode #sr-more-link { background-color: $light-primary !important; }

#sr-more-link {
  margin: 0;
  padding: em(10, 10);
  color: set-text-color($light-primary, text);
  background-color: $light-primary;
}