// main: ../../main.scss

@import "../../components/menus";

// subreddits bar
#sr-header-area {
  height: em(30, 10);

  border: 0;

  font-size: 100%; // 10px
  line-height: 1em;

  background-color: rgba($light-primary, 0.3);
  @include transition-default;

  // positions text
  .sr-list {
    margin: 1em 0;
    padding: 0;
  }

  // anchor opacity
  .sr-bar a {
    color: $light-secondary-text;
    @include transition-default;
  }

  // subreddit link behavior when hovering over sr bar
  &:hover .sr-bar a { color: $light-text; }

  // "my subreddits" menu button
  .dropdown.srdrop {
    height: 3em;
    padding: 0;
    cursor: pointer;

    .selected {
      // replace "my subreddits" with burger
      margin: 1.4em 1em 1em 1em;
      padding: 0;
      text-indent: -999em;
      background: none;
      @include burger(2em, 0.2em, 0.4em, $light-hint-text, 0);
    }

    // change burger color on mouseover
    &:hover {
      .selected,
      .selected:after,
      .selected:before { background-color: $light-icons; }
    }
  }

  // menu list
  @include menu(srdrop, 10, 10, 240);

  .drop-choices.srdrop {
    overflow-y: scroll;

    &.inuse { margin-left: em(10, 10); }
  }
}

// right side edit button
#sr-more-link {
  background-color: $light-primary;
  margin: 0;
  padding: 1em;
}