@import "modules/header";
@import "modules/content";
@import "modules/sidebar";

* {
	font-family: $font-stack;
}

body {
	background-color: $light-background;

	a:link {
		color: $link-color;

		&:visited {
			color: $link-color-visited;
		}
	}
}