// compile

@import "_utils/import";

@import "modules/content";
@import "modules/footer";
@import "modules/header";
@import "modules/sidebar";
@import "pages/comments-page";
@import "pages/compose-page";
@import "pages/flair-page";
@import "pages/search-page";
@import "pages/settings-page";
@import "pages/stylesheet-page";
@import "pages/submit-page";
@import "pages/top-page";
@import "pages/wiki-page";

* {
  font-family: $font-stack;
  outline: none;
  @include transition-default();
}

*,
*::before,
*::after { box-sizing: border-box; }

body {
  background-color: $light-background;

  a:link {
    color: $link-color;

    &:hover { color: $link-color-hover; }

    &:active { color: $link-color-active; }

    &:visited { color: $link-color-visited; }
  }

  overflow-x: hidden;
}

.res-nightmode body {
  background-color: $dark-background !important;

  a:link {
    color: $link-color;

    &:hover { color: $link-color-hover; }

    &:active { color: $link-color-active; }

    &:visited { color: $link-color-visited; }
  }
}

@media (min-width: $screen-md-min) {
  body {
    margin: 0 auto;
    max-width: 90%;
  }
}

@media (min-width: $screen-lg-min) {
  body {
    margin: 0 auto;
    max-width: 80%;
  }
}