// main: ../../main.scss

.res-nightmode #login_login-main button {
	background-color: $dark-cards;

	&:hover { border-radius: 2px !important; }
}

#login_login-main {
	position: relative;
	top: -84px;
	border: 0;
}

.res-nightmode .login-form-side label { color: $dark-text !important; }


// material checkbox
.login-form-side input[type="checkbox"]+label::before { vertical-align: -25%; }