// main: ../../main.scss

#search {

	// search label
	&:before {
		position: absolute;
		top: em(26, 10);
		left: em(24, 10);
		content: "search";
		color: transparent;
		font-size: em(13, 10);
		@include transition(all 0.2s ease);
	}

	&:hover {

		// search label hover behavior
		&:before {
			top: em(3, 13);
			left: em(12, 13);
			margin: 0;
			color: $accent;
	    @include transform(scale(0.85));
		}
	}

	// text field
	input[type="text"] {
		color: $light-text;
		font-family: $font-stack;
		height: 3em;
		outline: none;
		width: 100%;
		@include border-width(0 0 em(1, 13) 0);
		@include border-color(null null $light-secondary-text null);

		&:hover {

			// style placeholder text
			@include placeholder { color: transparent; }
		}

		&:focus { border-bottom: em(1, 13) solid $accent; }
	}

	// magnifying glass icon
	input[type="submit"] {
		height: em(16, 14);
		width: em(16, 14);
		opacity: 0.54;
		position: relative;
		background: url(%%search%%) no-repeat;
		@include transition;

		&:hover {
			opacity: 0.87;
		}
	}
}

// style searchexpando
#searchexpando {
	position: relative;
	top: em(17, 10);
	right: em(16, 10);
	z-index: 999;

	width: em(298, 10);
	margin: 0;

	font-size: 100%;

	@include card(10, 1);
	border: 0;
	border-radius: 0 0 em(2, 10) em(2, 10);

	label {
		font-size: 1.3em;
		text-transform: lowercase;
	}

	p {
		font-size: 130%;
		margin-bottom: em(5, 13);
		position: relative;
		top: em(5, 13);
	}

	// dropdown menus
	select {
		margin: 0 0 0 0.5em;
		width: 6.7em; // 90px
		background: transparent;
		outline: none;
		@include border-color(null null $light-hint-text null);
		@include border-width(0 0 em(1, 13) 0);
		@include appearance(none);

		option {
			&:hover {
				background-color: $light-app-bar;
			}
		}
	}

	// dropdown menu labels
	label:not(:first-of-type) {
		height: em(19, 13);
		width: em(19, 13);
		margin: 0 em(5, 13) 0 0;
		font-weight: bold;
		background: url(%%dropdown%%) no-repeat right;
	}
}

// searchexpando advanced options
#moresearchinfo {
	margin-top: em(10, 10);
	border-color: $accent;
}