// main: ../../flattish.scss

.res-nightmode #search {

	// magnifying glass icon
	input[type="submit"] {
		background-position: -130px -97px;

		&:hover { background-position: -130px -97px; }
	}
}

#search {
	// text field
	input[type="text"] {
		height: 39px;
		width: 100%;
		border: 0;
		outline: none;
	}

	// magnifying glass icon
	input[type="submit"] {
		height: 16px;
		width: 16px;
		opacity: 0.54;
		position: relative;
		background-position: -20px -97px;

		&:hover {
			background-position: -20px -97px;
			opacity: 0.87;
		}
	}
}

// style searchexpando
#searchexpando {
	z-index: 2147483647; // WTF RES?????
	margin: 0;
	padding: 0;
	font-size: 10px;
	transition: initial;
	border: 0;
	border-radius: 0 0 2px 2px;
	background-color: transparent;
	box-shadow: none !important;

	label {
		font-size: 13px;
		text-transform: lowercase;
	}

	p {
		font-size: 13px;
		margin-bottom: 5px;
		position: relative;
		top: 5px;
	}

	// dropdown menus
	select {
		margin: 0 0 0 7px;
		width: 90px;
	}

	// dropdown menu labels
	label:not(:first-of-type) {
		margin: 0 5px 0 0;
		font-weight: bold;
	}
}

// searchexpando advanced options
label + #moresearchinfo {
	margin-top: 10px;
	border-color: $accent;
}