#search {
	
	input[type="text"] {
		color: $light-text;
		font-family: $font-stack;
		height: 3em;
		width: 100%;
		@include border-width(0 0 em(1, 13) 0);
		@include border-color(null null $light-secondary-text null);

		&:hover {

			// style placeholder text
			&::-webkit-input-placeholder {
	   		color: transparent;
			}

			&:-moz-placeholder {
			  color: transparent;
			}

			&::-moz-placeholder {
			  color: transparent;
			}

			&:-ms-input-placeholder {
			  color: transparent;
			}
		}
		
		&:focus {
			border-bottom: em(1, 13) solid $accent;
		}
	}
	
	// magnifying glass icon
	input[type="submit"] {
		height: 1em;
		width: 1em;
		opacity: 0.54;
		position: relative;
		@include background(url("%%search%%") no-repeat);

		&:hover {
			opacity: 0.87;
		}
	}
	
	// label
	&:before {
		content: "search";
		color: transparent;
		font-size: em(13, 10);
		top: em(26, 10);
		left: em(24, 10);
		position: absolute;
		@include transition(all 0.2s ease);
	}

	&:hover {
		
		// label hover behavior
		&:before {
			color: $accent;
			margin: 0;
			top: em(3, 13);
			left: em(12, 13);
	    @include transform(scale(0.85));
		}
	}

	// style searchexpando
	#searchexpando {
		border: 0;
		font-size: 100%;
		position: relative;
		right: em(15, 10);
		top: em(16, 10);
		width: em(300, 10);
		z-index: 999;
		@include card;
		border-radius: 0 0 0.2em 0.2em;
		margin: 0;

		label {
			font-size: 13px;
		}
	}
}