// main: ../../main.scss

.res-nightmode #moderation_tools .title h1,
.res-nightmode .sidecontentbox .title h1 {
	color: $dark-text;
}

#moderation_tools,
.sidecontentbox {

	.title {
		margin-bottom: em(10, 10);

		// style card titles
		h1 {
			font-size: em(14, 10);
			font-weight: bold;
			color: $light-text;
			text-transform: lowercase;
		}
	}

	ul.content {
		border: 0;
		padding: 0;
		background-color: transparent !important; // thx RES
	}
}

#wikiactions,
#moderation_tools {

	// mod tools collapse button
	.collapse-button {
		border-radius: em(2, 10);
		line-height: em(8, 10);
	}

	a { @include link-underline-transition; }
}

.res-nightmode .sidecontentbox .gadget {

	// post score of recently viewed unvoted links
	.thing span.score.unvoted {
		color: $dark-secondary-text;
	}

	// recolor comment count
	a.reddit-comment-link.may-blank { color: $dark-secondary-text !important; }

	.right a {
		background: url(%%clear-night%%) 0 no-repeat;
	}
}

.res-nightmode .sidecontentbox .gadget .right a {
	color: transparent;
}

.sidecontentbox {

	// recently viewed links
	.gadget {

		// add margin to vote arrows
		.midcol { margin-right: em(15, 13); }

		// align top edges of links
		.reddit-entry {
			position: relative;
			top: em(4, 13);

			a { line-height: 1.35; }
		}

		.thing {
			padding: em(10, 14) 0;

			// post scores of recently viewed links
			span.score {

				&.unvoted { color: $light-secondary-text; }

				&.likes { color: $upvote; }

				&.dislikes { color: $downvote; }
			}

			// recolor comment count
			a.reddit-comment-link.may-blank { color: $light-secondary-text; }
		}

		// remove unnecessary trailing padding
		.reddit-link-end { padding: 0; }

		.right {
			height: em(20, 10);

			a {
				display: block;
				float: right;
				height: em(20, 10);
				width: em(20, 10);
				color: transparent;
				background: url(%%clear%%) 0 no-repeat;

				&:focus::before {
					@include button-ripple-circle(right, 16, bottom, 15, 20, 10);
				}
			}
		}
	}
}