// main: ../../main.scss

#moderation_tools,
.sidecontentbox {
	position: relative;

	.title {
		margin-bottom: em(10, 10);

		// style card titles
		h1 {
			color: $light-secondary-text;
			font-size: em(16, 10);
			font-weight: bold;
			text-transform: lowercase;
		}

	}

	ul.content {
		border: 0;
		padding: 0;
	}
}

#moderation_tools {
	top: em(1, 10);
}

.sidecontentbox {
	top: em(2, 10);

	// mod tools collapse button
	.collapse-button {
		border-radius: em(3, 10);
		line-height: em(8, 10);
	}

	// recently viewed links
	.gadget {

		.click-gadget {
			font-size: 14px;
		}

		.thing {
			padding: em(10, 14) 0;

			span.score {

				&.unvoted {
					color: $light-secondary-text;
				}

				&.likes {
					color: $upvote;
				}

				&.dislikes {
					color: $downvote;
				}
			}

			a.reddit-comment-link.may-blank {
				color: $light-secondary-text;
			}
		}

		.reddit-link-end {
			padding: 0;
		}

		// add margin to vote arrows
		.midcol {
			margin-right: em(15, 13);
		}

		// align top edges of links
		.reddit-entry {
			position: relative;
			top: em(4, 13);

			a {
				line-height: 1.35;
			}
		}
	}
}
