.res-nightmode #moderation_tools .title h1,
.res-nightmode .sidecontentbox .title h1 {
	color: $dark-text;
}

#moderation_tools,
.sidecontentbox {

	.title {
		margin-bottom: 10px;

		// style card titles
		h1 {
			font-size: 16px;
			font-weight: bold;
			color: $light-text;
			text-transform: lowercase;
		}
	}

	ul.content {
		border: 0;
		padding: 0;
		background-color: transparent !important; // thx RES
	}
}

.res-nightmode .sidecontentbox .gadget {

	// post score of recently viewed unvoted links
	.thing span.score.unvoted,
	// recolor comment count
	a.reddit-comment-link.may-blank {
		color: $dark-secondary-text !important;
	}
}

.res-nightmode .sidecontentbox .gadget .right a { color: transparent; }

.sidecontentbox {

	// recently viewed links
	.gadget {

		// add margin to vote arrows
		.midcol { margin-right: 15px; }

		// align top edges of links
		.reddit-entry {
			position: relative;
			top: 4px;

			a { line-height: 1.35; }
		}

		.thing {
			padding: 10px 0;

			// post scores of recently viewed links
			span.score {

				&.unvoted { color: $light-secondary-text; }

				&.likes { color: $upvote; }

				&.dislikes { color: $downvote; }
			}

			// recolor comment count
			a.reddit-comment-link.may-blank { color: $light-secondary-text; }
		}

		// remove unnecessary trailing padding
		.reddit-link-end { padding: 0; }

		.right {
			height: 20px;

			a {
				display: block;
				height: 20px;
				width: 20px;
				color: transparent;

				&:focus::before {
					height: 20px;
					width: 20px;
					background-color: $tooltip;
				}
			}
		}
	}
}
