// main: ../../main.scss

.submit-link,
.submit-text {
	position: relative;
	width: 0;
	height: 0;

	.morelink {
		background: none;
		border: 0;
		height: 0;

		a {
			position: relative;
			top: em(35, 14);
			width: em(130, 14);
			@include flat-colored-button(14, 15, $accent, $white);
		}
	}

	.nub { display: none; }
}

.submit-link {
	top: em(-69, 10);

	.morelink {
		top: em(-68, 10);
		left: em(15, 15);
	}

	// card underneath submit buttons
	&:before {
		position: relative;
		top: em(-15, 14);
		display: block;
		height: em(68, 14);
		width: em(298, 14);
		font-size: em(14, 10);
		font-weight: bold;
		color: $light-secondary-text;
		content: "Submit a new:";
		@include animate-card(14);
		// padding-top: em(20, 14);
	}
}

.submit-text {
	top: em(-86, 10);
	left: em(170, 10);
}