.submit-link,
.submit-text {
	position: absolute;
	right: 3em;
	width: 0;

	.morelink {
		background: none #f0f0f0;
		border: 0;
		border-bottom: 4px solid transparent;
		border-radius: em(2, 13);
		height: em(48, 15);
		box-shadow: 0;
		@include transition(all 0.25s ease);

		&:hover {
			background-color: #f5f5f5;
			border-bottom: 4px solid #ccc;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
		}

		&:active {
			top: 0px;
  		height: em(50, 15);
  		border: 1px solid #ccc;
  		background-color: #ededed;
  		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
		}

		a {
			color: $light-icons;
			font-size: em(16, 15);
			font-weight: normal;
			letter-spacing: normal;
			line-height: 3em;
			text-transform: lowercase;

			&:hover {
				color: inherit;
			}
		}
	}

	.nub {
		display: none;
	}

}

.submit-link {
	// 200 + 15 + 15 + 39 + 15 + 15 + 1
	top: em(300, 10);
}

.submit-text {
	// 300 + 52 + 15
	top: em(367, 10);
}