// main: ../../main.scss

.res-nightmode .titlebox {

	// title
	h1.hover.redditname {
		border: 0;
		background-color: transparent !important;
	}

	a.hover { color: $dark-text !important; }

	// mod/approved submitter/flair label background
	.leavemoderator,
	form.toggle.leavecontributor-button,
	form.toggle.flairtoggle {
		color: $dark-secondary-text !important;
		background-color: transparent !important;
	}

	// approved submitter text
	span.option.main.active { color: $dark-secondary-text; }

	.subscribers,
	.users-online {
		color: $dark-secondary-text !important;
	}

	.users-online::before {
		background: url(%%spritesheet%%) -262px -160px no-repeat;
		opacity: 1;
	}

	.md p { color: $dark-text; }
}

.titlebox {
	z-index: 0;

	// title
	a.hover {
		color: $light-text;
		font-size: 19px;
	}

	// subscribe and dashboard buttons
	a.option {
		padding: 11.5px 7px !important;
		background-image: none;

		&.remove { color: get-color("red", "500") !important; } // thx nightmode
	}

	.subscribers,
	.users-online {
		color: $light-secondary-text;
		display: block; // moves text below sub button for non-RES users
	}

	// subscribers
	.subscribers {
		.number {
			font-weight: bold;
			font-size: 24px;
		}

		.word { font-size: 13px; }
	}

	.users-online {
		font-size: 13px;

		// replace online user green orb
		&::before {
			background: url(%%spritesheet%%) -246px -160px no-repeat;
			opacity: 0.87;
			height: 16px;
			width: 16px;
		}
	}

	.leavemoderator,
	form.toggle,
	.tagline {
		font-size: 10px;
	}

	.bottom {
		font-size: 100%;
		display: none;
	}

	// material checkbox
	.flairtoggle input[type="checkbox"]+label::before { vertical-align: -25%; }
}

// subscribe button tooltip
.res-nightmode .hover-bubble.multi-selector strong { color: $dark-text; }

.hover-bubble.multi-selector {
	border: 0;

	&::before,
	&::after {
		display: none !important;
	}

	label {
		&:hover { background-color: transparent; }

		a {
			height: 14px;
			width: 14px;
		}
	}
}

.flairselector {
	transition: none;

	h2 {
		background: none;
		font-size: 16px;
	}
}