.titlebox {
	// title
	a.hover {
		font-size: em(19, 19);
	}

	// subscribe and dashboard buttons
	.fancy-toggle-button .add,
	.fancy-toggle-button .remove,
	.RESDashboardToggle {
		// @include button($light-app-bar, $light-secondary-text, 10, 10);
	}

	.subscribers,
	.users-online {
		color: $light-text;
	}

	// subscribers
	.subscribers {
		.number {
			font-weight: bold;
			font-size: em(24, 10);
		}

		.word {
			font-size: em(13, 10);
		}
	}

	.users-online {
		font-size: em(13, 10);

		// replace online user green orb
		&:before {
			background: url(%%users%%) no-repeat;
			opacity: 0.87;
			height: em(16, 13);
			width: em(16, 13);
		}
	}

	.leavemoderator,
	.toggle,
	.tagline {
		font-size: em(10, 10);
	}

	.bottom {
		font-size: 100%;
		display: none;
	}
}