// main: ../../flattish.scss

.res-nightmode .titlebox {

	// title
	h1.hover.redditname {
		border: 0;
		background-color: transparent !important;
	}

	a.hover { color: $dark-text !important; }

	// mod/approved submitter/flair label background
	.leavemoderator,
	form.toggle.leavecontributor-button,
	form.toggle.flairtoggle {
		color: $dark-secondary-text !important;
		background-color: transparent !important;
	}

	// approved submitter text
	span.option.main.active { color: $dark-secondary-text; }

	.subscribers,
	.users-online {
		color: $dark-secondary-text !important;
	}

	.users-online::before {
		background-position: -262px -160px;
		opacity: 1;
	}

	.md p { color: $dark-text; }
}

.res .titlebox {
	.usertext-body {
		clear: both;
		padding-top: 1px;
	}

	.fancy-toggle-button {
		float: none;
		margin-top: unset;
		padding: 0;
		border-left: unset;
	}
}

.titlebox {
	z-index: 0;
	padding: 8px;

	// title
	a.hover {
		color: $light-text;
		font-size: 19px;
		padding: 2px 0 0 2px;
	}

	// subscribe and dashboard buttons
	.subButtons {
		display: flex;
		justify-content: space-around;
		float: right;
		flex-direction: column;
		height: 165px;
		width: 40%;
		padding-left: 10px;
		border-left: 1px solid $light-divider-text;
		margin-bottom: 5px;
	}

	a.option, .res-fancy-toggle-button {
		height: unset !important;
	}

	.fancy-toggle-button {
		float: right;
		// margin-top: 60px;
		padding: 5px 20px 5px 30px;
		border-left: 1px solid $light-divider-text;
	}

	a.option {
		background-image: none;

		&.remove { background-color: get-color("red", "500") !important; } // thx nightmode
	}

	.toggle a.option.active {
		display: inline-block;
		width: 100%;
	}

	.subscribers,
	.users-online {
		padding-left: 6px;
		color: $light-secondary-text;
		display: block; // moves text below sub button for non-RES users
	}

	// subscribers
	.subscribers {
		.number {
			font-weight: bold;
			font-size: 24px;
			margin-right: 1px;
		}

		.word { font-size: 13px; }
	}

	.users-online {
		font-size: 13px;

		// replace online user green orb
		&::before {
			background-position: -246px -160px;
			opacity: 0.87;
			height: 16px;
			width: 16px;
		}
	}

	.leavemoderator,
	form.toggle,
	.tagline {
		padding-left: 5px;
		font-size: 10px;
		// width: 60%;
	}

	.tagline {
		margin-left: 0;
		padding: 5px;
		text-align: center;

	}

	.bottom {
		font-size: 100%;
		display: none;
	}

	// material checkbox
	.flairtoggle input[type="checkbox"]+label::before { vertical-align: -25%; }
}

// subscribe button tooltip
.res-nightmode .hover-bubble.multi-selector strong { color: $dark-text; }

.hover-bubble.multi-selector {
	border: 0;

	&::before,
	&::after {
		display: none !important;
	}

	label {
		&:hover { background-color: transparent; }

		a {
			height: 14px;
			width: 14px;
		}
	}
}

.flairselector {
	transition: none;

	h2 {
		background: none;
		font-size: 16px;
	}
}
