// main: ../../main.scss

.titlebox {
	position: relative;
	top: em(3, 10);

	// title
	a.hover {
		color: $light-secondary-text;
		font-size: em(19, 19);
	}

	// subscribe and dashboard buttons
	a.option,
	.RESDashboardToggle {
		@include flat-button(10, 10);
		position: relative;
		top: em(2.5, 10);
		margin-right: em(5, 10);
		padding: 0.7em 0.57em;
		line-height: em(27, 10);
	}

	.subscribers,
	.users-online {
		color: $light-secondary-text;
		display: block; // moves text below sub button for non-RES users
	}

	// subscribers
	.subscribers {
		.number {
			font-weight: bold;
			font-size: em(24, 10);
		}

		.word {
			font-size: em(13, 10);
		}
	}

	.users-online {
		font-size: em(13, 10);

		// replace online user green orb
		&:before {
			background: url(%%users%%) no-repeat;
			opacity: 0.87;
			height: em(16, 13);
			width: em(16, 13);
		}
	}

	.leavemoderator,
	.toggle,
	.tagline {
		font-size: em(10, 10);
	}

	.bottom {
		font-size: 100%;
		display: none;
	}
}