// main: ../flattish.scss

$card-selectors-map: (
	// sitetable promoted link
	promoted-link: (
		selector-name: '.link.promotedlink.promoted, .link.promotedlink.external',
		depth: 1
	),

	// compose page
	compose-message: (
		selector-name: '#compose-message',
		depth: 1
	),

	// wiki page
	wiki-page-content: (
		selector-name: '.wiki-page-content',
		depth: 1
	),

	// search page
	combined-search-page-searchpane: (
		selector-name: '.combined-search-page .searchpane',
		depth: 1
	),
	combined-search-page-search-result: (
		selector-name: '.combined-search-page .search-result',
		depth: 1
	),

	// stylesheet page
	subreddit-stylesheet: (
		selector-name: '#subreddit_stylesheet',
		depth: 1
	),
	image-preview-list-li: (
		selector-name: 'ul#image-preview-list li',
		depth: 1
	),
	image-upload: (
		selector-name: '#image-upload',
		depth: 1
	),

	// settings page
	linefield: (
		selector-name: '.linefield',
		depth: 1
	),

	// search page
	searchpane: (
		selector-name: '.searchpane',
		depth: 1
	),

	// comments page
	commentarea-menuarea: (
		selector-name: '.commentarea .menuarea',
		depth: 1
	),
	commentarea-usertext: (
		selector-name: '.commentarea > .usertext',
		depth: 1
	),
	archived-infobar: (
		selector-name: '.archived-infobar',
		depth: 1
	),

	// submit page
	formtabs-content: (
		selector-name: '.formtabs-content',
		depth: 1
	),

	// flair page
	tabpane-content: (
		selector-name: '.tabpane-content',
		depth: 1
	),

	// rules page
	subreddit-rules-page: (
	  // selector-name: '.subreddit-rules-page',
		selector-name: '.modtools-page > div.content',
		depth: 1
	),

	// sidebar
	side-spacer-first-of-type: (
		selector-name: '.side .spacer:first-of-type',
		depth: 1
	),
	ad_sponsorship: (
		selector-name: '.side #ad_sponsorship',
		depth: 1
	),
	titlebox: (
		selector-name: '.side .titlebox',
		depth: 1
	),
	side-moderation_tools: (
		selector-name: '.side #moderation_tools',
		depth: 1
	),
	side-ad_main: (
		selector-name: '.side #ad_main',
		depth: 1
	),
	side-sidecontentbox: (
		selector-name: '.side .sidecontentbox',
		depth: 1
	),

	// sidebar search
	searchexpando: (
		selector-name: '#searchexpando',
		depth: 0
	),

	// sidebar submit
	submit-link-before: (
		selector-name: '.submit-link::before',
		depth: 1
	),

	// sidebar login
	sidebar-login: (
		selector-name: '#login_login-main',
		depth: 1
	),

	// titlebox
	hover-bubble-multi-selector: (
		selector-name: '.hover-bubble.multi-selector',
		depth: 1
	),
	flairselector: (
		selector-name: '.flairselector',
		depth: 1
	),

	// sitetable
	post: (
		selector-name: '#siteTable > .thing',
		depth: 0
	),

	// footer
	footer: (
		selector-name: '.footer',
		depth: 1
	),

	// res tips and tricks
	guider: (
	  selector-name: '.guider',
		depth: 6
	)
);

$default-card-selectors: ();
$night-card-selectors: ();
$alt-depth-card-selectors: ();
$alt-bg-card-selectors: ();

@each $key, $map in $card-selectors-map {
	$selector-name: map-get($map, selector-name);
	$depth: map-get($map, depth);

	// alternate drop shadows for cards with depth != 1
	@if $depth != 1 {
		$alt-depth-card-selectors: append($alt-depth-card-selectors, #{$selector-name}, 'comma');

		#{$selector-name} {
			@include drop-shadow($depth);
		}
	} @else {
		// duplicates all default selectors in a list
		$default-card-selectors: append($default-card-selectors, #{$selector-name}, 'comma');
		$night-card-selectors: append($night-card-selectors, unquote('.res-nightmode #{$selector-name}'), 'comma');
	}
}


$alt-bg-card-selector-map: (
	// comments page
	'.gold-accent.comment-visits-box': get-color("yellow", "50"),
	'.linkinfo': $light-accent,
	'.content.submit .info-notice': rgba($light-primary, 0.38),
	'.locked-infobar': get-color("yellow", "200"),
);

// places selectors for alt colored cards in a list
@each $key, $value in $alt-bg-card-selector-map {
	$alt-bg-card-selectors: append($alt-bg-card-selectors, $key, 'comma');
}

// styles nightmode and default mode alt bg cards
@each $key, $value in $alt-bg-card-selector-map {
	.res-nightmode #{$key},
	#{$key} {
		background-color: $value !important;
		color: set-text-color($value, text) !important;
	}
}

// styles all nightmode cards
#{$night-card-selectors} {
	background-color: $dark-cards !important;
	color: set-text-color($dark-cards, text);
}

// styles all default cards
#{$default-card-selectors} {
	background-color: $light-cards;
	color: set-text-color($light-cards, text);
}

#{$alt-bg-card-selectors},
#{$default-card-selectors} {
	@include drop-shadow(1);
}

// styles all defaults and all alt colored cards
#{$alt-bg-card-selectors},
#{$alt-depth-card-selectors},
#{$default-card-selectors} {
	padding: 10px !important;
	border: 0 !important;
	border-radius: 2px !important;
}