// main: ../flattish.scss

// selftext expando animation
@include keyframes(slide-down) {
	0% {
		@include transform(translateY(-50%));
		opacity: 0;
	}
	100% {
		@include transform(translateY(0));
		opacity: 1;
	}
}

// expando button +/- animation
@include keyframes(minustoplus) {
	0% { @include transform(rotate(90deg)); }
	100% { @include transform(rotate(0)); }
}

// media and self post expansion buttons
.res-nightmode .expando-button {
  // base styles
	border: 1px solid $dark-hint-text;

	&.image,
	&.gallery {
		box-sizing: unset; // to force width and height to 25px
	}

	&:hover { border-color: $dark-secondary-text; }

	&.collapsed,
	&.collapsed:hover,
	&.expanded,
	&.expanded:hover {

		&::before,
		&::after {
			background: $dark-hint-text !important;
		}
	}

	// video expandos
	&.video {
		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -106px -87px !important;
		}
	}

	// image expandos
	&.image {
		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -92px 0 !important;
		}
	}

  // photo album expandos
	&.gallery {
		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -24px 0 !important;
		}
	}

	// self expandos
	&.selftext {
		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -130px -117px !important;
		}
	}
}

.expando-button {
  // base styles
	position: relative;
	top: 2px;
	width: 25px;
	height: 25px;
	z-index: 1;
	@include margin(null 6px 0 null);
	border: 1px solid $light-hint-text;
	border-radius: 2px;
	cursor: pointer;

	&:hover { border-color: $light-secondary-text; }

	&.collapsed,
	&.collapsed:hover,
	&.expanded,
	&.expanded:hover {

		&::before,
		&::after {
			background: $light-hint-text !important;
			content: "";
			position: absolute;
			display: block;
		}

		// horizontal
		&::before {
			width: 7px !important;
			height: 1px !important;
			top: 17px;
			left: 14px;
		}

		// vertical
		&::after {
			width: 1px;
			height: 7px;
			top: 14px;
			left: 17px;
		}
	}

	// animate expand/collapse
	&.collapsed::after,
	&.expanded::after { @include transition-default; }

	&.collapsed::after { @include animation(minustoplus 0.5s ease 1); }

	&.expanded::after {
		@include animation(minustoplus 0.5s ease 1 reverse);
		transform: rotate(90deg);
	}

	// video expandos
	&.video {

		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -176px -63px;
		}
	}

	// image expandos
	&.image {
		box-sizing: unset; // to force width and height to 25px

		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -68px 0 !important;
		}
	}

  // photo album expandos
	&.gallery {

		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: 0 0 !important;
		}
	}

	// self expandos
	&.selftext {

		&.collapsed,
		&.collapsed:hover,
		&.expanded,
		&.expanded:hover {
			background-position: -107px -117px;
		}
	}
}