// Drawer.
.drop-choices.srdrop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: $layout-drawer-width;
  height: 100%;
  max-height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  @include shadow-2dp();

  box-sizing: border-box;
  border-right: 1px solid $layout-drawer-border-color;
  background: $layout-drawer-bg-color;

  // Transform offscreen.
  transform: translateX(-$layout-drawer-width - 10px);
  transform-style: preserve-3d;
  will-change: transform;

  @include material-animation-default();
  transition-property: transform;

  color: $layout-text-color;

  overflow: visible;
  overflow-y: auto;

  z-index: 5;

  &.is-visible {
    transform: translateX(0);
  }

  & > * {
    flex-shrink: 0;
  }

  & > .mdl-layout-title {
    line-height: $layout-desktop-header-height;
    padding-left: $layout-header-desktop-indent;

    @media screen and (max-width: $layout-screen-size-threshold) {
      line-height: $layout-mobile-header-height;
      padding-left: $layout-header-mobile-indent;
    }
  }

  & .mdl-navigation {
    flex-direction: column;
    align-items: stretch;
    padding-top: 16px;

    & .mdl-navigation__link {
    display: block;
    flex-shrink: 0;
    padding: 16px $layout-header-desktop-indent;
    margin: 0;
    color: $layout-drawer-navigation-color;

      @media screen and (max-width: $layout-screen-size-threshold) {
        padding: 16px $layout-header-mobile-indent;
      }

      &:hover {
        background-color: $layout-nav-color;
      }

      &--current {
          background-color: $layout-drawer-navigation-link-active-background;
          color: $layout-drawer-naviagtion-link-active-color;
      }
    }
  }

  @media screen and (min-width: $layout-screen-size-threshold + 1px) {
    .mdl-layout--fixed-drawer > & {
      transform: translateX(0);
    }
  }
}