$menu-selector-map: (
  // sr bar
  sr-bar-menu: (
    parent: '#sr-header-area',
    selector: '.srdrop',
    desired-font-size: 10,
    original-font-size: 10,
    width: 240
  ),

  // comments page
  comment-sort-menu: (
    parent: null,
    selector: '.lightdrop',
    desired-font-size: 12,
    original-font-size: 12,
    width: 140
  ),
);

$menu-selectors: ();
$night-menu-selectors: ();

$menu-list-selectors: ('.RESDropdownList li');
$night-menu-list-selectors: ('.res-nightmode .RESDropdownList li');

@each $key, $map in $menu-selector-map {
  $parent: map-get($map, parent);
  $selector: map-get($map, selector);
  $desired-font-size: map-get($map, desired-font-size);
  $original-font-size: map-get($map, original-font-size);
  $width: map-get($map, width);

	$menu-selectors: append($menu-selectors, unquote('#{$parent} .drop-choices#{$selector}'), 'comma');
	$night-menu-selectors: append($night-menu-selectors, unquote('.res-nightmode #{$parent} .drop-choices#{$selector}'), 'comma');

  #{$parent} .drop-choices#{$selector} {
    @if $original-font-size != $desired-font-size{
      font-size: em($original-font-size, $desired-font-size);
    }

    &.inuse { width: em($width, $desired-font-size); }
  }

  $menu-list-selectors: append($menu-list-selectors, unquote('#{$selector} a.choice'), 'comma');
  $night-menu-list-selectors: append($night-menu-list-selectors, unquote('.res-nightmode #{$selector} a.choice'), 'comma');
}

// menus
#{$night-menu-selectors} {
  background-color: $dark-cards !important;
}

#{$menu-selectors} {
  display: block;
  width: 0;
  max-height: 0;
  margin: 0;
  visibility: hidden;
  border: 0;
  border-radius: 2px;
  background-color: $light-cards;
  opacity: 0;
  @include drop-shadow(1);

  &.inuse {
    max-height: 690px;
    margin-top: 10px;
    visibility: visible;
    opacity: 1;
  }
}

// menu lists
#{$night-menu-list-selectors} {
  color: $dark-text !important;

  &:hover { background-color: $dark-app-bar !important; }
}

#{$menu-list-selectors} {
  padding: 8px;
  color: $light-text !important;

  &:hover { background-color: $light-app-bar !important; }
}