// main: ../main.scss

@mixin menu-items($orig-font-size: 10, $nightmode: false) {
  @if ($nightmode) {
    color: $dark-text !important;

    &:hover { background-color: $dark-app-bar !important; }
  } @else {
    color: $light-text;

    &:hover { background-color: $light-app-bar; }
  }
  padding: em(16, $orig-font-size);
}

@mixin menu($class, $desired-font-size, $orig-font-size, $width, $nightmode: false) {
  .drop-choices.#{$class} {
    display: block;
    width: 0;
    max-height: 0;
    margin: 0;
    visibility: hidden;
    font-size: em($orig-font-size, $desired-font-size);
    border: 0;
    border-radius: em(2, $desired-font-size);
    @if ($nightmode) {
      background-color: $dark-cards !important;
    } @else {
      background-color: $light-cards;
    }
    opacity: 0;
    @include drop-shadow(1);

    &.inuse {
      width: em($width, $desired-font-size);
      max-height: em(690, $desired-font-size);
      margin-top: em(10, $desired-font-size);
      visibility: visible;
      opacity: 1;
    }
  }
  .drop-choices a.choice { @include menu-items($desired-font-size, $nightmode); }
}