// main: ../main.scss

// ███████╗██╗   ██╗ ██████╗██╗  ██╗
// ██╔════╝██║   ██║██╔════╝██║ ██╔╝
// █████╗  ██║   ██║██║     █████╔╝
// ██╔══╝  ██║   ██║██║     ██╔═██╗
// ██║     ╚██████╔╝╚██████╗██║  ██╗
// ╚═╝      ╚═════╝  ╚═════╝╚═╝  ╚═╝
//
// ██████╗ ███████╗███████╗
// ██╔══██╗██╔════╝██╔════╝
// ██████╔╝█████╗  ███████╗
// ██╔══██╗██╔══╝  ╚════██║
// ██║  ██║███████╗███████║
// ╚═╝  ╚═╝╚══════╝╚══════╝
//
// ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
// ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
// ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
// ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
// ███████║   ██║      ██║   ███████╗███████╗███████║
// ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝

.res .thing .tagline .author,
.thing .tagline .author {
  border-radius: 2px !important;
}

.res .thing .tagline .author.moderator,
.thing .tagline .author.moderator {
  color: set-text-color(get-color('green'), text);
  background-color: get-color('green') !important;

  &:hover {
    background-color: set-text-color(get-color('green'), '700');
  }
}

// fuck you, RES

#modalOverlay {
  background-color: $light-disabled-text !important;
}

#RESConsoleContainer {
  // depth 6 drop shadow
  box-shadow: 0 16px 24px  2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0  6px 30px  5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
              0  8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity) !important;

  * { box-sizing: initial; }
}

// username tagger modal

// login modal

// tips and tricks modal

// suggested pages toast

body.res-nightmode,
.res-nightmode .side .spacer,
.res-nightmode .side,
.res-nightmode .side * {
  // color: inherit !important;
}

.res-nightmode .infobar:not(.newsletterbar) .md,
.res-nightmode .reddit-infobar .md {
  color: inherit !important;
}

// RES tips & tricks
.guiders_content h2 { font-size: initial; }