.res-nightmode .expando-button.video.collapsed,
.res-nightmode .expando-button.video.collapsed:hover,
.res-nightmode .expando-button.video.expanded,
.res-nightmode .expando-button.video.expanded:hover,
.res-nightmode .expando-button.image.collapsed,
.res-nightmode .expando-button.image.collapsed:hover,
.res-nightmode .expando-button.image.expanded,
.res-nightmode .expando-button.image.expanded:hover,
.res-nightmode .expando-button.gallery.collapsed,
.res-nightmode .expando-button.gallery.collapsed:hover,
.res-nightmode .expando-button.gallery.expanded,
.res-nightmode .expando-button.gallery.expanded:hover,
.res-nightmode .expando-button.selftext.collapsed,
.res-nightmode .expando-button.selftext.collapsed:hover,
.res-nightmode .expando-button.selftext.expanded,
.res-nightmode .expando-button.selftext.expanded:hover,
.expando-button.video.collapsed,
.expando-button.video.collapsed:hover,
.expando-button.video.expanded,
.expando-button.video.expanded:hover,
.expando-button.image.collapsed,
.expando-button.image.collapsed:hover,
.expando-button.image.expanded,
.expando-button.image.expanded:hover,
.expando-button.gallery.collapsed,
.expando-button.gallery.collapsed:hover,
.expando-button.gallery.expanded,
.expando-button.gallery.expanded:hover,
.expando-button.selftext.collapsed,
.expando-button.selftext.collapsed:hover,
.expando-button.selftext.expanded,
.expando-button.selftext.expanded:hover,
a.expando-button.expando-button-loading,
a.expando-button.expando-button-loading:hover,
.res-nightmode .thumbnail.self,
.res-nightmode .thumbnail.nsfw,
.res-nightmode .thumbnail.default,
.thumbnail.self,
.thumbnail.nsfw,
.thumbnail.default,
.pref-lang.choice,
.logout a,
.res-nightmode .side::before,
.side::before,
.res-nightmode #search input[type="submit"],
.res-nightmode #search input[type="submit"]:hover,
#search input[type="submit"],
#search input[type="submit"]:hover,
.res-nightmode .titlebox .users-online::before,
.titlebox .users-online::before {
  background-image: url(%%spritesheet%%);
}