@mixin tabs {
  height: 66px;
  font-size: 14px;
  line-height: 66px;
}

@mixin tab-list-anchors($ripple: false, $orig-background-color: transparent, $ripple-color: $light-accent, $bg-color: $primary, $text-color: set-text-color($bg-color, secondary-text), $text-color-hover: set-text-color($bg-color, text)) {

  color: $text-color !important;

  @if $ripple { @include ripple($orig-background-color, $ripple-color); }

  &:hover { color: $text-color-hover !important; }
}

@mixin base-tab-anchor-styles {
  display: inline-block;
  height: 66px;
  padding: 0 24px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  @include border-width(0 0 3px);
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  @include transform(translateZ(0));
  @include backface-visibility(hidden);

  &::before {
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: -1;
    height: 2px;
    content: '';
    background: $accent;
    @include transition(right 0.2s $animation-curve-default);
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    right: 0;
  }
}

@mixin selected-tab {
  border-bottom-style: solid;
  @include border-width(0 0 3px);

  &::before { right: 0; }
}

// header-bottom-left, flair page, and submit page
.tabmenu,
ul.tabmenu.formtab {
  @include tabs;
}

.tabmenu li a,
.res-nightmode ul.tabmenu.formtab li a,
ul.tabmenu.formtab li a {
  @include base-tab-anchor-styles;
}

.tabmenu li { margin: 0; }

.tabmenu li.selected a,
ul.tabmenu.formtab li.selected a {
  @include selected-tab;
}