// main: ../main.scss

@mixin tabs {
  height: em(66, 14);
  padding-left: em(16, 16);
  font-size: 14px;
  line-height: em(66, 14);
}

@mixin tab-list-anchors {
  display: inline-block;
  height: em(66, 14);
  padding: 0 em(24, 14);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  @include border-width(0 0 em(2, 14) 0);
  @include ripple;
}