// main: ../main.scss

@mixin tabs {
  height: em(66, 14);
  font-size: 14px;
  line-height: em(66, 14);
}

@mixin tab-list-anchors($ripple: false, $orig-background-color: transparent, $ripple-color: $light-accent, $bg-color: $primary, $text-color: set-text-color($bg-color, secondary-text), $text-color-hover: set-text-color($bg-color, text)) {
  display: inline-block;
  height: em(66, 14);
  padding: 0 em(24, 14);
  color: $text-color !important;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  @include border-width(0 0 em(2, 14) 0);

  @if $ripple {
    @include ripple($orig-background-color, $ripple-color);
  }

  &:hover {
    margin: 0;
    padding: 0 em(24, 14);
    color: $text-color-hover !important;
    // text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  // tabmenu bottom border effect on hover
  &:after {
    position: relative;
    top: em(-66, 14);
    left: em(-24, 14);

    display: block;
    width: 0;
    height: inherit;

    content: "";

    border-bottom: em(2, 14) solid transparent;
    @include transition(border-bottom 0.2s $animation-curve-default, width 0.2s $animation-curve-default);
  }

  &:hover::after {
    @include calc(width, "100% - -48px"); // double negative works but not addition...wtf css?
    border-bottom: em(2, 14) solid $accent;
  }
}