// main: ../main.scss

@mixin text-fields {
  border: 0;
  color: $light-text;
  font-family: $font-stack;
  border-style: solid;
  background-color: transparent;
  box-shadow: none;
  @include border-width(0 0 1px);
  @include border-color(transparent transparent get-color("grey", "600"));
  @include transition-default;

  &:focus {
    border-bottom-color: $accent;
  }
}

// macros menu
.RESMacroDropdown,
.RESMacroDropdownTitle.openMacro ~ .RESMacroDropdown {
  // left: unset !important; // thx RES
  right: em(16, 10) !important; // thx RES
}

.RESMacroDropdown {
  display: block;
  margin: 0;
  font-size: em(10, 10);
  border: 0;
  border-radius: em(2, 10);
  background-color: $light-cards;
  @include drop-shadow(1);
  @include transition-default;
}

.RESMacroDropdownTitle.openMacro ~ .RESMacroDropdown {
  width: em(118, 10);
  max-height: em(690, 10);
  margin-top: em(10, 10);
  transform-origin: 100% 0;
  @include animation(RESmenuopen 0.2s $animation-curve-default);
}

.RESMacroDropdownList li a {
  color: $light-text !important; // thx RES
  padding: em(16, 10) !important; // thx RES
  @include transition-default;

  &:hover { background-color: $light-app-bar !important;  } // thx RES
}

// live preview
.RESDialogSmall.livePreview {

  & > h3 {
   height: 40px; // offset box-sizing
 }

  .gearIcon {
    position: static;
  }
}