// main: ../main.scss

// thumbnail
.res-nightmode .thumbnail {

	&.self,
	&.default {
		border: 1px solid $dark-secondary-text !important;
		opacity: 0.5;

		&:hover { opacity: 1; }
	}

	&.self { background-position: -176px -140px !important; }

	&.default { background-position: -216px 0 !important; }
}

.thumbnail,
.thumbnail.self,
.thumbnail.default {
	border-radius: 50%;
	font-size: inherit;
	margin: 0 16px 0 0;
	max-height: 70px;
}

.thumbnail {

	img {
		height: 70px;
		width: auto;
	}

	&.self,
	&.default {
		border: 1px solid $light-secondary-text;
		height: 70px;
		width: 70px;
		opacity: 0.38;

		&:hover { opacity: 0.5; }
	}

	&.self { background-position: -220px -70px; }

	&.default { background-position: -106px -141px; }
}

// nsfw thumbnail styling
.res-nightmode .thing.over18 > .thumbnail {
	background-position: -36px -83px !important;
}

.thing.over18 > .thumbnail {
	background-position: -36px -83px;
	border: 0 !important;
	opacity: 0.87;

	&:hover { opacity: 1; }
}
