// main: ../main.scss

// thumbnail
.res-nightmode .thumbnail {

	&.self,
	&.default {
		border: em(1, 10) solid $dark-secondary-text !important;
		opacity: 0.5;

		&:hover { opacity: 1; }
	}

	&.self { background: url(%%spritesheet%%) -176px -140px !important; }

	&.default { background: url(%%spritesheet%%) -216px 0 !important; }
}

.thumbnail,
.thumbnail.self,
.thumbnail.default {
	border-radius: 50%;
	font-size: inherit;
	margin: 0 em(16, 10) 0 0;
	max-height: em(70, 10);
}

.thumbnail {

	img {
		height: em(70, 10);
		width: auto;
	}

	&.self,
	&.default {
		border: em(1, 10) solid $light-secondary-text;
		height: em(70, 10);
		width: em(70, 10);
		opacity: 0.38;

		&:hover { opacity: 0.5; }
	}

	&.self { background: url(%%spritesheet%%) -220px -70px; }

	&.default { background: url(%%spritesheet%%) -106px -141px; }
}

// nsfw thumbnail styling
.res-nightmode .thing.over18 > .thumbnail.self {
	background: url(%%spritesheet%%) -36px -83px !important;
}

.thing.over18 > .thumbnail.self {
	background: url(%%spritesheet%%) -36px -83px;
	border: 0 !important;
	opacity: 0.87;

	&:hover { opacity: 1; }
}
