// main: ../main.scss

// hide browser styles
// .class input[type="checkbox"]
@mixin hide-checkbox {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  @include appearance(none);
}

// & + label::before
@mixin check-box {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 4px;
  content: "";
  border: 2px solid $light-secondary-text;
  border-radius: 2px;
  cursor: pointer;
}

// &:checked + label::before
@mixin checked {
  border-color: get-color("green", "500");
  background: get-color("green", "500") url(%%tick%%) no-repeat scroll 0% 60%;
}