// main: ../main.scss

// hide browser styles
// .class input[type="checkbox"]
@mixin hide-checkbox {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  @include appearance(none);
}

// & + label::before
@mixin check-box($nightmode: false) {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 4px;
  content: "";
  @if ($nightmode) {
    border: 2px solid $dark-secondary-text !important;
  } @else {
    border: 2px solid $light-secondary-text;
  }
  border-radius: 2px;
  cursor: pointer;
}

// &:checked + label::before
@mixin checkbox-checked {
  border-color: get-color("green", "500");
  background: get-color("green", "500") url(%%tick%%) no-repeat scroll 0% 60%;
  @include transition-default;
}

@mixin checkbox-disabled($nightmode: false) {
  @if ($nightmode) {
    border-color: $dark-disabled-text !important;
  } @else {
    border-color: $light-disabled-text;
  }
  cursor: auto;
}

// radio buttons
// .class input[type="radio"]
@mixin hide-radio {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  @include appearance(none);
}

// & + label::before
@mixin radio-button($nightmode: false) {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 4px;
  @if ($nightmode) {
    border: 2px solid $dark-secondary-text !important;
  } @else {
    border: 2px solid $light-secondary-text;
  }
  border-radius: 50%;
  content: "";
  cursor: pointer;
}

// &:checked + label::before
@mixin radio-checked {
  border-color: $primary;
  background-image: radial-gradient(circle, $primary 50%, transparent 50%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include animation(radio-toggle 0.2s $animation-curve-default);
}

@mixin radio-disabled($nightmode: false) {
  @if ($nightmode) {
    border-color: $dark-disabled-text !important;
  } @else {
    border-color: $light-disabled-text;
  }
  cursor: auto;
}