@mixin tooltip-mobile {
  position: relative;
  // right: 35px; // [(width + padding-left + padding-right) - width of object hovering] / 2
  display: block;
  height: 32px;
  // width: 58px;
  margin-top: 14px;
  padding: 0 16px;
  // content: "Clear all";
  font-size: 14px;
  font-weight: bold;
  line-height: 2.3;
  color: $dark-text;
  text-align: center;
  background-color: $tooltip;
  border-radius: 2px;
  opacity: 0.9;
}