// main: ../main.scss

// need to provide width of tooltip after content is added
// need to provide width of object to which the pseudoelement is attached
// need to provide text within tooltip

@mixin button-ripple-circle($direction-1, $direction-1-value, $direction-2, $direction-2-value, $desired-size, $orig-font-size) {
	position: absolute;
	$direction-1: em($direction-1-value, $orig-font-size);
	$direction-2: em($direction-2-value, $orig-font-size);
	height: em($desired-size, $orig-font-size);
	width: em($desired-size, $orig-font-size);
	content: " ";
	background-color: $tooltip;
	border-radius: 50%;
	opacity: 1;
	@include animation(button-ripple .35s ease forwards);
}

$tooltip-selector-map: (
  // link action icon tooltips
  share-button: (
		selector-name: 'li a.post-sharing-button',
		background-position: -178px -97px,
		background-night-position: -76px -63px,
		width-tooltip: 36,
		width-parent: 20,
		content-tooltip: 'Share',
    screen-type: 'desktop'
  ),
  save-button-one: (
		selector-name: '.thing:not(.saved) .link-save-button a',
		width-tooltip: 32,
		width-parent: 20,
		content-tooltip: 'Save',
    screen-type: 'desktop'
  ),
	save-button-two: (
		selector-name: '.thing:not(.saved) .link-unsave-button a',
		width-tooltip: 32,
		width-parent: 20,
		content-tooltip: 'Save',
    screen-type: 'desktop'
  ),
  unsave-button-one: (
		selector-name: '.saved .link-unsave-button a',
		width-tooltip: 48,
		width-parent: 20,
		content-tooltip: 'Unsave',
    screen-type: 'desktop'
  ),
	unsave-button-two: (
		selector-name: '.saved .link-save-button a',
		width-tooltip: 48,
		width-parent: 20,
		content-tooltip: 'Unsave',
    screen-type: 'desktop'
  ),
  hide-button: (
		selector-name: '.state-button a[action="hide"]',
		width-tooltip: 31,
		width-parent: 20,
		content-tooltip: 'Hide',
    screen-type: 'desktop'
  ),
  unhide-button: (
		selector-name: '.state-button a[action="unhide"]',
		width-tooltip: 46,
		width-parent: 20,
		content-tooltip: 'Unhide',
    screen-type: 'desktop'
  ),
  delete-button: (
		selector-name: 'a[data-event-action="delete"]',
		background-position: -152px 0,
		background-night-position: -56px -43px,
		width-tooltip: 40,
		width-parent: 20,
		content-tooltip: 'Delete',
    screen-type: 'desktop'
  ),
  spam-button: (
		selector-name: 'a[data-event-action="spam"]',
		background-position: -198px -97px,
		background-night-position: -96px -63px,
		width-tooltip: 38,
		width-parent: 20,
		content-tooltip: 'Spam',
    screen-type: 'desktop'
  ),
  remove-button: (
		selector-name: 'a[data-event-action="remove"]',
		background-position: -200px -77px,
		background-night-position: -36px -63px,
		width-tooltip: 50,
		width-parent: 20,
		content-tooltip: 'Remove',
    screen-type: 'desktop'
  ),
  approve-button: (
		selector-name: '.approve-button a',
		background-position: -48px 0,
		background-night-position: -36px -43px,
		width-tooltip: 52,
		width-parent: 20,
		content-tooltip: 'Approve',
    screen-type: 'desktop'
  ),
  report-button: (
		selector-name: '.reportbtn',
		background-position: 0 -97px,
		background-night-position: -56px -63px,
		width-tooltip: 42,
		width-parent: 20,
		content-tooltip: 'Report',
    screen-type: 'desktop'
  ),
  lock-button: (
		selector-name: 'a[data-event-action="lock"]',
		background-position: -194px -23px,
		background-night-position: -96px -43px,
		width-tooltip: 30,
		width-parent: 20,
		content-tooltip: 'Lock',
    screen-type: 'desktop'
  ),
  unlock-button: (
		selector-name: 'a[data-event-action="unlock"]',
		background-position: -258px -140px,
		background-night-position: -116px -63px,
		width-tooltip: 42,
		width-parent: 20,
		content-tooltip: 'Unlock',
    screen-type: 'desktop'
  ),
  mark-nsfw-button: (
		selector-name: 'a[data-event-action="marknsfw"]',
		background-position: -156px -63px,
		background-night-position: -194px -43px,
		width-tooltip: 74,
		width-parent: 20,
		content-tooltip: 'Mark NSFW',
    screen-type: 'desktop'
  ),
  unmark-nsfw-button: (
		selector-name: 'a[data-event-action="unmarknsfw"]',
		background-position: -35px -160px,
		background-night-position: -136px -63px,
		width-tooltip: 90,
		width-parent: 20,
		content-tooltip: 'Unmark NSFW',
    screen-type: 'desktop'
  ),
  distinguish-button: (
		selector-name: 'a[data-event-action="distinguish"]',
		background-position: -172px 0,
		background-night-position: -76px -43px,
		width-tooltip: 72,
		width-parent: 20,
		content-tooltip: 'Distinguish',
    screen-type: 'desktop'
  ),

  // sidecontentbox
  clear-all-button: (
    selector-name: '.sidecontentbox .gadget .right a',
		background-position: -116px 0,
		background-night-position: -134px 0,
		width-tooltip: 58,
		width-parent: 20,
		content-tooltip: 'Clear all',
    screen-type: 'desktop'
  )
);

$base-tooltip-selectors: ();

@each $key, $map in $tooltip-selector-map {
	$selector-name: map-get($map, selector-name);
	$background-position: map-get($map, background-position);
	$background-night-position: map-get($map, background-night-position);
	$width-tooltip: map-get($map, width-tooltip);
	$width-parent: map-get($map, width-parent);
	$content-tooltip: map-get($map, content-tooltip);
	$screen-type: map-get($map, screen-type);

	$base-tooltip-selectors: append($base-tooltip-selectors, unquote('#{$selector-name}'), 'comma');

  @if $screen-type == desktop {
    $height-tooltip: 32px;
    $padding-tooltip: 16px;
    $font-size-tooltip: 14px;
  } @else {
    $height-tooltip: 22px;
    $padding-tooltip: 8px;
    $font-size-tooltip: 10px;
  }

	#{$selector-name} {
		background-position: $background-position;
	}

	.res-nightmode #{$selector-name} {
		background-position: $background-night-position;
	}

  #{$selector-name}::after {
    right: (($width-tooltip + (2 * $padding-tooltip)) - $width-parent) / 2;
    height: $height-tooltip;
    width: $width-tooltip + (2 * $padding-tooltip);
    padding: 0 $padding-tooltip;
    content: $content-tooltip;
    font-size: $font-size-tooltip;
    line-height: $height-tooltip;
  }
}

#{$base-tooltip-selectors} {
	background-image: url(%%spritesheet%%);

  &::after {
    position: relative;
    z-index: 10;
    display: block;
    visibility: hidden;
    font-weight: normal;
    color: $dark-text;
    text-align: center;
    background-color: rgba($tooltip, 0);
    border-radius: 2px;
    @include transition-default;
  }

  &:hover::after {
    visibility: visible;
    background-color: $tooltip;
    @include transform(translateY(14px));
  }
}