// main: ../flattish.scss

// need to provide width of tooltip after content is added
// need to provide width of object to which the pseudoelement is attached
// need to provide text within tooltip
// default for 20x20 icons

$tooltip-selector-map: (
  // link action icon tooltips
  share-button: (
		selector-name: 'li a.post-sharing-button',
		background-position: -178px -97px,
		background-night-position: -76px -63px,
		width-tooltip: 36,
		width-parent: 20,
		content-tooltip: 'Share',
    screen-type: 'desktop'
  ),
  save-button-one: (
		selector-name: '.thing:not(.saved) .link-save-button a',
		width-tooltip: 32,
		width-parent: 20,
		content-tooltip: 'Save',
    screen-type: 'desktop'
  ),
	save-button-two: (
		selector-name: '.thing:not(.saved) .link-unsave-button a',
		width-tooltip: 32,
		width-parent: 20,
		content-tooltip: 'Save',
    screen-type: 'desktop'
  ),
  unsave-button-one: (
		selector-name: '.saved .link-unsave-button a',
		width-tooltip: 48,
		width-parent: 20,
		content-tooltip: 'Unsave',
    screen-type: 'desktop'
  ),
	unsave-button-two: (
		selector-name: '.saved .link-save-button a',
		width-tooltip: 48,
		width-parent: 20,
		content-tooltip: 'Unsave',
    screen-type: 'desktop'
  ),
  hide-button-one: (
		selector-name: '.state-button a[action="hide"]',
		width-tooltip: 31,
		width-parent: 20,
		content-tooltip: 'Hide',
    screen-type: 'desktop'
  ),
  hide-button-two: (
		selector-name: 'a[data-event-action="hide"]',
		width-tooltip: 31,
		width-parent: 20,
		content-tooltip: 'Hide',
    screen-type: 'desktop'
  ),
  unhide-button-one: (
		selector-name: '.state-button a[action="unhide"]',
		width-tooltip: 46,
		width-parent: 20,
		content-tooltip: 'Unhide',
    screen-type: 'desktop'
  ),
  unhide-button-two: (
		selector-name: 'a[data-event-action="unhide"]',
		width-tooltip: 46,
		width-parent: 20,
		content-tooltip: 'Unhide',
    screen-type: 'desktop'
  ),
  delete-button: (
		selector-name: 'a[data-event-action="delete"]',
		background-position: -152px 0,
		background-night-position: -56px -43px,
		width-tooltip: 40,
		width-parent: 20,
		content-tooltip: 'Delete',
    screen-type: 'desktop'
  ),
  spam-button: (
		selector-name: 'a[data-event-action="spam"]',
		background-position: -198px -97px,
		background-night-position: -96px -63px,
		width-tooltip: 38,
		width-parent: 20,
		content-tooltip: 'Spam',
    screen-type: 'desktop'
  ),
  remove-button: (
		selector-name: 'a[data-event-action="remove"]',
		background-position: -200px -77px,
		background-night-position: -36px -63px,
		width-tooltip: 50,
		width-parent: 20,
		content-tooltip: 'Remove',
    screen-type: 'desktop'
  ),
  approve-button: (
		selector-name: '.approve-button a',
		background-position: -48px 0,
		background-night-position: -36px -43px,
		width-tooltip: 52,
		width-parent: 20,
		content-tooltip: 'Approve',
    screen-type: 'desktop'
  ),
  report-button: (
		selector-name: '.reportbtn',
		background-position: 0 -97px,
		background-night-position: -56px -63px,
		width-tooltip: 42,
		width-parent: 20,
		content-tooltip: 'Report',
    screen-type: 'desktop'
  ),
  lock-button: (
		selector-name: 'a[data-event-action="lock"]',
		background-position: -194px -23px,
		background-night-position: -96px -43px,
		width-tooltip: 30,
		width-parent: 20,
		content-tooltip: 'Lock',
    screen-type: 'desktop'
  ),
  unlock-button: (
		selector-name: 'a[data-event-action="unlock"]',
		background-position: -258px -140px,
		background-night-position: -116px -63px,
		width-tooltip: 42,
		width-parent: 20,
		content-tooltip: 'Unlock',
    screen-type: 'desktop'
  ),
  mark-nsfw-button: (
		selector-name: 'a[data-event-action="marknsfw"]',
		background-position: -156px -63px,
		background-night-position: -194px -43px,
		width-tooltip: 74,
		width-parent: 20,
		content-tooltip: 'Mark NSFW',
    screen-type: 'desktop'
  ),
  unmark-nsfw-button: (
		selector-name: 'a[data-event-action="unmarknsfw"]',
		background-position: -35px -160px,
		background-night-position: -136px -63px,
		width-tooltip: 90,
		width-parent: 20,
		content-tooltip: 'Unmark NSFW',
    screen-type: 'desktop'
  ),
  distinguish-button: (
		selector-name: 'a[data-event-action="distinguish"][onclick="return toggle_distinguish_span(this)"]',
		background-position: -172px 0,
		background-night-position: -76px -43px,
		width-tooltip: 72,
		width-parent: 20,
		content-tooltip: 'Distinguish',
    screen-type: 'desktop'
  ),

  // sidebar
  twitter-button: (
		selector-name: 'a[href$="#twitter-btn"]',
		width-tooltip: 44,
		width-parent: 50,
    height-parent: 50,
		content-tooltip: 'Twitter',
    screen-type: 'desktop'
  ),
  lastfm-button: (
		selector-name: 'a[href$="#lastfm-btn"]',
		width-tooltip: 48,
		width-parent: 50,
    height-parent: 50,
		content-tooltip: 'Last.fm',
    screen-type: 'desktop'
  ),
  steam-button: (
		selector-name: 'a[href$="#steam-btn"]',
		width-tooltip: 42,
		width-parent: 50,
    height-parent: 50,
		content-tooltip: 'Steam',
    screen-type: 'desktop'
  ),
  irc-button: (
		selector-name: 'a[href$="#irc-btn"]',
		width-tooltip: 54,
		width-parent: 50,
    height-parent: 50,
		content-tooltip: 'Snoonet IRC',
    screen-type: 'desktop'
  ),

  // sidecontentbox
  clear-all-button: (
    selector-name: '.sidecontentbox .gadget .right a',
		background-position: -116px 0,
		background-night-position: -134px 0,
		width-tooltip: 58,
		width-parent: 20,
		content-tooltip: 'Clear all',
    screen-type: 'desktop'
  )
);

$base-tooltip-selectors: ();
$spritesheet-tooltip-selectors: ();
$default-height-selectors: ();

@each $key, $map in $tooltip-selector-map {
	$selector-name: map-get($map, selector-name);
	$background-position: map-get($map, background-position);
	$background-night-position: map-get($map, background-night-position);
	$width-tooltip: map-get($map, width-tooltip);
	$width-parent: map-get($map, width-parent);
  $height-parent: map-get($map, height-parent);
	$content-tooltip: map-get($map, content-tooltip);
	$screen-type: map-get($map, screen-type);

	$base-tooltip-selectors: append($base-tooltip-selectors, unquote('#{$selector-name}'), 'comma');

  @if $screen-type == desktop {
    $height-tooltip: 32px;
    $padding-tooltip: 16px;
    $font-size-tooltip: 14px;
  } @else {
    $height-tooltip: 22px;
    $padding-tooltip: 8px;
    $font-size-tooltip: 10px;
  }

  // if the height of the parent element is not default 20px
  @if $height-parent {
    #{$selector-name}:hover::after {
      @include transform(translateY($height-parent - 20px + 14px));
    }
  } @else {
    $default-height-selectors: append($default-height-selectors, unquote('#{$selector-name}'), 'comma');
  }

  // if item contains background-position key, it is using a stylesheet icon
  @if $background-position {
    $spritesheet-tooltip-selectors: append($spritesheet-tooltip-selectors, unquote('#{$selector-name}'), 'comma');
  }

	#{$selector-name} {
		background-position: $background-position;

    &::after {
      right: (($width-tooltip + (2 * $padding-tooltip)) - $width-parent) / 2;
      width: $width-tooltip + (2 * $padding-tooltip);
      content: $content-tooltip;
    }
	}

	.res-nightmode #{$selector-name} {
		background-position: $background-night-position;
	}

}

#{$spritesheet-tooltip-selectors} {
  background-image: url(%%spritesheet%%);
}

#{$default-height-selectors} {
  &:hover::after {
    @include transform(translateY(14px));
  }
}

#{$base-tooltip-selectors} {

  &::after {
    position: relative;
    z-index: 10;
    display: block;
    height: $height-tooltip;
    padding: 0 $padding-tooltip;
    visibility: hidden;
    color: $dark-text;
    font-size: $font-size-tooltip;
    font-weight: normal;
    line-height: $height-tooltip;
    text-align: center;
    background-color: rgba($tooltip, 0);
    border-radius: 2px;
    @include transition-default;
  }

  &:hover::after {
    visibility: visible;
    background-color: $tooltip;
  }
}