// main: ../main.scss

.res-nightmode h1,
.res-nightmode h2,
.res-nightmode h3,
.res-nightmode h4,
.res-nightmode h5,
.res-nightmode h6,
.res-nightmode .md h1,
.res-nightmode .md h2,
.res-nightmode .md h3,
.res-nightmode .md h4,
.res-nightmode .md h5,
.res-nightmode .md h6 {
  color: set-text-color($dark-cards, text);
}

h1,
h2,
h3,
h4,
h5,
h6,
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  color: set-text-color($light-cards, text);
}

h1,
.md h1 {
  font-size: 36px;
}

h2,
.md h2 {
  font-size: 30px;
}

h3,
.md h3 {
  font-size: 24px;
}

h4,
.md h4 {
  font-size: 18px;
}

h5,
.md h5 {
  font-size: 14px;
}

h6,
.md h6 {
  font-size: 12px;
}

.res-nightmode .gray { color: $dark-secondary-text; }
.gray { color: $light-secondary-text; }