// main: ../main.scss

.res-nightmode h1 { color: set-text-color($dark-cards, text); }
.res-nightmode h2 { color: set-text-color($dark-cards, text); }
.res-nightmode h3 { color: set-text-color($dark-cards, text); }
.res-nightmode h4 { color: set-text-color($dark-cards, text); }
.res-nightmode h5 { color: set-text-color($dark-cards, text); }
.res-nightmode h6 { color: set-text-color($dark-cards, text); }

h1 { font-size: 36px; color: set-text-color($light-cards, text); }
h2 { font-size: 30px; color: set-text-color($light-cards, text); }
h3 { font-size: 24px; color: set-text-color($light-cards, text); }
h4 { font-size: 18px; color: set-text-color($light-cards, text); }
h5 { font-size: 14px; color: set-text-color($light-cards, text); }
h6 { font-size: 12px; color: set-text-color($light-cards, text); }

.gray { color: $light-secondary-text; }
.res-nightmode .gray { color: $dark-secondary-text; }