// main: ../flattish.scss

// vote arrow/score column & thumbnail margin
.midcol {
	position: relative; // need for placing pseudo element BEHIND vote arrow
	z-index: 1;
	@include margin(1px 16px null null);
	width: 32px !important;
	overflow: visible;
}

// styles nightmode AND default mode vote arrows (after upvote/downvote action)
.res-nightmode .link .arrow,
.res-nightmode .reddit-link .arrow,
.res-nightmode .comment .arrow,
.arrow {
	&.upmod::before,
	&.upmod:hover::before {
		background-color: $upvote;
	}

	&.downmod::before,
	&.downmod:hover::before {
		background-color: $downvote;
	}
}

// default arrow styles -- also affects sidebar vote arrows
.arrow {
	height: 15px;
	width: 30px;

	&.upmod,
  &.up,
  &.downmod,
  &.down {
		background: url(%%upboatsndownboats%%);
	}

	&.upmod { background-position: 0px 0px; }

	&.up { background-position: 30px 0px; }

	&.downmod { background-position: 0px 15px; }

	&.down { background-position: 30px 14px; }
}