// main: ../flattish.scss

// infobar (locked, archived, etc)
.reddit-infobar {
  padding-left: 55px !important;
  margin-bottom: 16px;
}

// thread subscribe/unsubscribe button
.res-nightmode #REScommentSubToggle {
  background-color: transparent !important;
}

#REScommentSubToggle.unsubscribe { color: get-color('red', '500'); }

.res-nightmode .commentarea .menuarea .toggle a { color: $dark-secondary-text; }

.commentarea {
  .panestack-title,
  .menuarea {
    margin: 0;
  }

  // # of comments and thread subscribe button area
  .panestack-title {
    position: absolute;
    padding: 16px 0 0 16px;
    width: auto;
    border: 0;

    .title { margin: 0; }
  }

  // increases padding on main comments page (vs permalink comment page)
  .panestack-title ~ .menuarea {
    padding-top: 60px !important;
    @include border-top-radius(0 !important);
  }

  // sorted/navigate by
  .menuarea {
    margin-bottom: 17px;

    .spacer + .spacer {
      display: block;
      @include calc(width, "100% - 32px");

      form:first-of-type { margin: 0; }
    }

    .toggle a { color: $light-secondary-text; }
  }

  &> .usertext { @include margin(null null 16px 0); }
}

// offset inline styling
.drop-choices.lightdrop {
  left: unset;

  &.inuse[style*="top"] { top: unset !important; }
}

// "navigate by"
#REScommentNavToggle{
  margin-bottom: 0;

  span:not(:first-of-type) { display: none; }
}

.commentNavSortType {
  padding: 0 4px;
  font-size: 10px;
}

.res-nightmode .commentingAs { color: $dark-secondary-text; }

.commentingAs { color: $light-secondary-text; }

// comment save button bar
.usertext {

  button { margin: 0; } // fuck you RES

  .bottom-area { line-height: 36px; }

  .help-toggle,
  a.reddiquette {
    margin: 0 10px 0 0;
    font-size: 13px;
  }
}

.usertext-buttons { height: auto; }

// big editor button...RES PLS
.RESBigEditorPop {
  margin: 0 !important;
  padding: 0 8px !important;
  height: 36px !important;
  line-height: 36px !important;
  border: 0 !important;
  background-color: transparent !important;

  &:hover { background-color: rgba(get-color("grey", "500"), 0.2) !important; }

	&:focus:not(:active) { background-color: rgba($black, 0.12) !important; }

  &:active { background-color: rgba(get-color("grey", "500"), 0.4) !important; }
}

// big editor modal
.res-nightmode #BigEditor .RESDialogSmall h3 {
  color: set-text-color($primary, text);
  background-color: $primary;
}

#BigEditor {

  .RESDialogSmall {
    border: 0;
    border-radius: 2px;
    @include drop-shadow(2);

    h3 {
      height: 38px;
      color: set-text-color($primary, text);
      background-color: $primary;
    }

    .md h3 { height: unset; }
  }
}

.gold-accent.comment-visits-box {
  width: 100%;
  max-width: unset;
  margin: 0 0 16px 0;
  border: 0;

  .title::after {
    display: inline-block;
    margin-left: -19px;
    content: "";
    vertical-align: middle;
	}
}

#comment-visits { width: 167px; }

.res-nightmode .linkinfo {
  * {
    color: set-text-color($light-accent, text) !important;
  }

  .shortlink input {
    color: $dark-text;
    background-color: $dark-app-bar;
  }
}

.linkinfo {
  position: relative;
  top: -85px;
  border: 0;
  font-size: 13px;

  .shortlink input { width: unset; }
}

// infobar when viewing specific permalinked comments
.infobar {
  margin: 0 0 16px;
  padding: 16px;
  border: 0;
  border-radius: 2px;
  @include drop-shadow(1);
}

// comment boxes
.res-nightmode.res-commentBoxes .comment { border: 0 !important; }

html.res-nightmode .res-commentBoxes .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: $dark-cards !important;
}

html.res-nightmode .res-commentBoxes .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment {
  background-color: $dark-background !important;
}

// non-nightmode
html.res-commentBoxes .comment {
  margin: 0 0 8px !important;
  padding: 8px !important;
}

html.res-commentBoxes.res-commentBoxes-rounded .comment {
  border-radius: 2px !important;
}

.res .comment,
.comment {

  .child {
    border: 0;

    .usertext-buttons { margin-bottom: 16px; }
  }
}

.comment {
  margin: 0 0 8px;
  padding: 2px;
  border: 1px solid $light-divider-text;
  border-radius: 2px;
  background-color: $white;
}

// odd
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: $white !important;
}

// default even comments, combined to reduce character count
.commentarea .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment {
	background-color: $light-background !important;
}

// RES active element highlighting
.comment .entry {
  border-right: 2px solid transparent;

  &.RES-keyNav-activeElement {
    border-right-color: $primary;
    padding-left: 5px;
  }
}


html.res-nightmode .RES-keyNav-activeElement,
html.res-nightmode .RES-keyNav-activeElement .md-container,
.entry.RES-keyNav-activeElement,
.entry.RES-keyNav-activeElement .md-container {
  background-color: transparent !important;
}

// comment shading behind new comments
.new-comment .usertext-body {
  margin: 15px 0;
  border-color: transparent;
  background-color: rgba($light-primary, 0.12);
}

.linklisting .md,
.commentarea .md {
  border: 0 !important;
}

.comment.noncollapsed .buttons {
  display: flex;
}