// main: ../main.scss

#REScommentSubToggle {
  @include flat-button(10, 10, get-color("green", "500"));
}

.linkinfo {
  position: relative;
  top: em(-85, 13);
  @include animate-card(12);
  border: 0;
  color: $light-text;
  background-color: $light-accent;
}