// main: ../main.scss

// infobar (locked, archived, etc)
.reddit-infobar { margin-bottom: 16px; }

// thread subscribe/unsubscribe button
.res-nightmode #REScommentSubToggle {
  background-color: transparent !important;
}

#REScommentSubToggle.unsubscribe { color: get-color('red', '500'); }

.res-nightmode .commentarea .menuarea .toggle a { color: $dark-secondary-text; }

.commentarea {
  position: relative;

  .panestack-title,
  .menuarea {
    margin: 0;
    width: 100%;
  }

  // # of comments and thread subscribe button area
  .panestack-title {
    position: absolute;
    padding: 16px 0 0 16px;
    width: auto;
    border: 0;

    .title { margin: 0; }
  }

  // increases padding on main comments page (vs permalink comment page)
  .panestack-title ~ .menuarea { padding-top: em(60, 13); }

  // sorted/navigate by
  .menuarea {
    margin-bottom: em(17, 13);

    .spacer + .spacer {
      display: block;
      @include calc(width, "100% - 32px");

      form:first-of-type { margin: 0; }
    }

    .toggle a { color: $light-secondary-text; }
  }

  &> .usertext { @include margin(null null em(16, 13) 0); }
}

// offset inline styling
.drop-choices.lightdrop {
  left: unset;

  &.inuse[style*="top"] { top: unset !important; }
}

// "navigate by"
#REScommentNavToggle{
  margin-bottom: 0;

  span:not(:first-of-type) { display: none; }
}

.commentNavSortType {
  padding: 0 em(4, 10);
  font-size: em(10, 13);
}

// text editor container
.usertext-edit {
  width: auto;

  textarea {
    width: 100%;
    margin-bottom: em(9, 14) !important; // override global reddit styles
  }

  // comment style buttons and character counter
  & > .markdownEditor-wrapper { width: auto; } // override inline styling
}

.res-nightmode .commentingAs { color: $dark-secondary-text; }

.commentingAs { color: $light-secondary-text; }

.RESCharCounter {
  position: relative;
  top: em(35, 15);
  left: em(-85, 15);
}

// comment save button bar
.usertext {

  button { margin: 0; } // fuck you RES

  .bottom-area { line-height: em(36, 13); }

  .help-toggle,
  a.reddiquette {
    margin: 0 em(10, 13) 0 0;
    font-size: 13px;
  }
}

.usertext-buttons { height: auto; }

// big editor button...RES PLS
.RESBigEditorPop {
  // i cry evrytim
  margin: 0 !important;
  padding: 0 em(8, 13) !important;
  height: em(36, 13) !important;
  line-height: em(36, 13) !important;
  border: 0 !important;
  background-color: transparent !important;

  &:hover { background-color: rgba(get-color("grey", "500"), 0.2) !important; }

	&:focus:not(:active) { background-color: rgba($black, 0.12) !important; }

  &:active { background-color: rgba(get-color("grey", "500"), 0.4) !important; }
}

// big editor modal
.res-nightmode #BigEditor {
  .RESDialogSmall {

    h3 {
      color: set-text-color($primary, text);
      background-color: $primary;
    }
  }
}

#BigEditor {

  .RESDialogSmall {
    border: 0;
    border-radius: 2px;
    @include drop-shadow(2);

    h3 {
      height: 38px;
      color: set-text-color($primary, text);
      background-color: $primary;
    }

    .md h3 { height: unset; }
  }
}

.gold-accent.comment-visits-box {
  width: 100%;
  max-width: unset;
  margin: 0 0 em(16, 10) 0;
  border: 0;

  .title::after {
    display: inline-block;
    margin-left: em(-19, 13);
    content: "";
    vertical-align: middle;
	}
}

#comment-visits { width: em(167, 13); }

.res-nightmode .linkinfo .shortlink input {
  color: $dark-text;
  background-color: $dark-app-bar;
}

.linkinfo {
  position: relative;
  top: -85px;
  border: 0;
  font-size: 13px;

  .shortlink input { width: unset; }
}

@media (min-width: $screen-sm-min) {
  .RESCharCounter {
    position: initial;
    top: initial;
    left: initial;
  }
}

// infobar when viewing specific permalinked comments
.infobar {
  margin: 0 0 16px;
  padding: 16px;
  border: 0;
  border-radius: 2px;
  @include drop-shadow(1);
}

// comment boxes
.res-nightmode.res-commentBoxes .comment {
  border: 0 !important;
}

html.res-nightmode .res-commentBoxes .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: $dark-cards !important;
}

html.res-nightmode .res-commentBoxes .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment {
  background-color: $dark-background !important;
}

// non-nightmode
html.res-commentBoxes .comment {
  margin: 0 0 16px !important;
  padding: 16px !important;
}

html.res-commentBoxes.res-commentBoxes-rounded .comment {
  border-radius: 2px !important;
}

.res .comment,
.comment {

  &:hover { @include drop-shadow(3); }

  .md p { margin: 15px 0; }

  .child {
    border: 0;

    .usertext-buttons { margin-bottom: 16px; }
  }
}

.comment { margin: 0 0 16px; }

// odd
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: $white;
}

// RES even comments
.res .commentarea .comment .comment,
.res .commentarea .comment .comment .comment .comment,
.res .commentarea .comment .comment .comment .comment .comment .comment,
.res .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.res .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
// default even comments, combined to reduce character count
.commentarea .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment {
	background-color: $light-background !important;
}

// RES active element highlighting
.comment .entry {
  border-right: 2px solid transparent;
  margin-bottom: 16px;

  &.RES-keyNav-activeElement {
    border-right-color: $primary;
    padding-left: 5px;
  }
}


html.res-nightmode .RES-keyNav-activeElement,
html.res-nightmode .RES-keyNav-activeElement .md-container,
.entry.RES-keyNav-activeElement,
.entry.RES-keyNav-activeElement .md-container {
  background-color: transparent !important;
}

// comment shading behind new comments
.new-comment .usertext-body {
  margin: 15px 0;
  border-color: transparent;
  background-color: rgba($light-primary, 0.12);
}

.linklisting .md,
.commentarea .md {
  border: 0 !important;
}