// main: ../flattish.scss

#newlink {
  margin: 0;
  background-color: transparent;
}

// link/text tabs
.res-nightmode ul.tabmenu.formtab li {
  a {
    background-color: $dark-cards;
    @include tab-list-anchors(false, transparent, $light-accent, $dark-cards);
  }

  &.selected a {
    color: set-text-color($primary, text) !important;
    background-color: $primary !important;
  }
}

ul.tabmenu.formtab {
  padding: 0;
  @include drop-shadow(1);

  li {

    a {
      width: 50%;
      text-align: center;
      background-color: $light-cards;
      @include tab-list-anchors(false, transparent, $light-accent, $light-cards);
    }

    &.selected a {
      color: set-text-color($primary, text) !important;
      font-size: inherit;
      background-color: $primary;
    }
  }

  // round top corners of tabs
  a.link-button.choice { border-top-left-radius: 2px; }

  a.text-button.choice { border-top-right-radius: 2px; }
}

// submission form

.formtabs-content {
  width: 100%;
  border: 0;
  margin-bottom: 17px;
  @include border-top-radius(0);

  // gold infobar
  .infobar {
    padding: 13px;
    @include drop-shadow(0);
  }
}

// list of subreddits to submit to
#reddit-field { display: none; }

// maximize width of submit form elements
.roundfield,
.roundfield .usertext-edit {
  width: 100%;
}

.roundfield-content textarea,
.roundfield input[type="text"],
.roundfield-content input[type="url"] {
  @extend .roundfield;
}

.roundfield {
  padding: 0;
  border-radius: 0;
  background-color: transparent !important; // thx nightmode
}

.res-nightmode .submit_text {
  h1,
  .md {
    color: set-text-color($dark-cards, text);
  }
}

.submit_text {
  h1,
  .md {
    color: set-text-color($light-cards, text);
  }
}

// material checkbox
.roundfield-content input[type="checkbox"]+label::before { vertical-align: -3px; }

// brick
.content.submit .info-notice {
  margin-bottom: 15px;
  border: 0;
}

// sidebar
.submit-page .side {
  padding-top: 36px;

  .spacer:first-of-type { top: -2px; }
}