// main: ../main.scss

#newlink {
  margin: 0;
  background-color: transparent;
}

// link/text tabs
.res-nightmode ul.tabmenu.formtab li {
  a {
    background-color: $dark-cards;
    @include tab-list-anchors(false, transparent, $light-accent, $dark-cards);
  }

  &.selected a {
    color: set-text-color($primary, text) !important;
    background-color: $primary !important;
  }
}

ul.tabmenu.formtab {
  padding: 0;
  @include drop-shadow(1);
  @include tabs;

  li {

    a {
      width: 50%;
      text-align: center;
      background-color: $light-cards;
      @include tab-list-anchors(false, transparent, $light-accent, $light-cards);
    }

    &.selected a {
      margin: 0;
      padding: 0 em(24, 14);
      color: set-text-color($primary, text) !important;
      font-size: inherit;
      background-color: $primary;
      border-bottom-color: $primary;
      border-bottom-style: solid;
      @include border-width(0 0 em(2, 14) 0);
    }
  }

  // round top corners of tabs
  a.link-button.choice { border-top-left-radius: em(2, 14); }

  a.text-button.choice { border-top-right-radius: em(2, 14); }
}

// submission form

.formtabs-content {
  width: 100%;
  border: 0;
  margin-bottom: em(17, 10);
  @include border-top-radius(0);

  // gold infobar
  .infobar {
    padding: em(13, 16);
    @include drop-shadow(0);
  }
}

// list of subreddits to submit to
#reddit-field { display: none; }

// maximize width of submit form elements
.roundfield,
.roundfield .usertext-edit { width: 100%; }

.roundfield-content textarea,
.roundfield input[type="text"],
.roundfield-content input[type="url"] {
  @extend .roundfield;
}

.roundfield {
  padding: 0;
  border-radius: 0;
  background-color: transparent !important; // thx nightmode
}

.res-nightmode .submit_text {
  h1,
  .md {
    color: set-text-color($dark-cards, text);
  }
}

.submit_text {
  h1,
  .md {
    color: set-text-color($light-cards, text);
  }
}

// material checkbox
.roundfield-content input[type="checkbox"] {
  @include hide-checkbox;

  & + label::before {
    @include check-box;
    vertical-align: em(-3, 16);
  }

  &:checked + label::before { @include checkbox-checked; }
}

// brick
.content.submit .info-notice {
  margin-bottom: em(15, 13);
  border: 0;
}

// sidebar
.submit-page .side {
  padding-top: em(55, 10);

  .spacer:first-of-type { top: em(-2, 10); }
}