// main: ../flattish.scss

.content .menuarea .spacer {
  margin: 0;
}

.res-nightmode .top-page .content .menuarea {
  background-color: $dark-cards;
}

.top-page .content .menuarea {
  height: 100%;
	padding: 0;
	@include margin(0 0 15px 0);
  border-bottom: 0px;
  border-radius: 4px;
  background-color: $light-cards;
  @include drop-shadow(1);

  .drop-choices.lightdrop {
    display: inline-block;
    max-height: unset;
    visibility: visible;
    opacity: 1;

    a.choice {
      padding: 16px;
    }

    a.choice,
    form {
      display: inline-block;
    }
  }

  .dropdown-title.lightdrop {
    display: none;
  }

  .dropdown.lightdrop .selected {
    display: inline-block;
    padding: 16px;
    @include border-left-radius(4px);
    color: set-text-color($primary, text);
  	text-decoration: none;
    background: none;
  	background-color: $primary;
  }
}