.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-immortalsong {
    width: 104px;
    height: 100px;
    background-position: 0 0;
}

.sprite-inkigayo {
    width: 104px;
    height: 100px;
    background-position: -104px 0;
}

.sprite-mcd {
    width: 104px;
    height: 100px;
    background-position: 0 -100px;
}

.sprite-mubank {
    width: 104px;
    height: 100px;
    background-position: -104px -100px;
}

.sprite-mucore {
    width: 104px;
    height: 100px;
    background-position: -208px 0;
}

.sprite-showchampion {
    width: 104px;
    height: 100px;
    background-position: -208px -100px;
}

.sprite-sketchbook {
    width: 104px;
    height: 100px;
    background-position: 0 -200px;
}
