// main: ../flattish.scss

// sidebar image
@if $sidebar-img {
  .titlebox::before {
    position: absolute;
    top: -$sidebar-img-height - 16px;
    right: -330px;
    display: block;
    height: $sidebar-img-height;
    width: 330px; // 100%
    content: '';
    border-radius: 2px;
    background: url(%%sidebar%%) center;
    @include drop-shadow(1);
  }

  @media (max-resolution: 1dppx) and (min-width: $screen-md-min) {
    .titlebox::before {
      right: 0;
    }
  }
}

// pinned topics
@if $pinned-topics {
  // number of stickied links
  $num-stickied-links: 0;

  // number of stickied menus
  $num-stickied-menus: 0;

  // desired image backgrounds for stickies
  $sticky-link-images: ();
  $sticky-menu-images: ();


  @each $key, $map in $pinned-map {
    $type: map-get($map, type);
    $image: map-get($map, image);

    // calculate number of sticky links and sticky menus
    @if $type == 'link' {
      $num-stickied-links: $num-stickied-links + 1;
      $sticky-link-images: append($sticky-link-images, $image, 'comma');
    } @else if $type == 'menu' {
      $num-stickied-menus: $num-stickied-menus + 1;
      $sticky-menu-images: append($sticky-menu-images, $image, 'comma');
    }
  }

  // assign image backgrounds
  @if $num-stickied-links > 0 {
    @for $i from 1 through $num-stickied-links {
      @include sticky-image-switch('link', nth($sticky-link-images, $i), $i);
    }
  }

  @if $num-stickied-menus > 0 {
    @for $i from 1 through $num-stickied-menus {
      @include sticky-image-switch('menu', nth($sticky-menu-images, $i), $i);
    }
  }

  .res-nightmode .titlebox blockquote::after { background-color: $dark-cards; }

  .titlebox blockquote {
    @if $header-large {
      top: 312px;
    } @else {
      top: 239px;
    }

    position: fixed;
    left: 16px;
    border: 0;
    margin: 0 !important;
    padding: 0;

    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      display: block;
      height: 100%;
      width: 60px;
      content: '';
      border-radius: 2px;
      @include drop-shadow(1);
      background-color: $light-cards;
    }

    p,
    ul,
    a {
      @include border-right-radius(2px);
    }

    p,
    ul {
      width: 60px;
      height: 60px;
      margin: 0 !important;
      overflow: hidden;
      background: url(%%stickies%%) no-repeat;
    }

    p:hover {
      width: 100%;
      background-color: $primary !important;
    }

    a {
      display: block;
      height: 60px;
      border: 0;
      margin-left: 60px;
      padding: 0 16px;
      line-height: 60px;
      font-size: 14px;
      color: $dark-text !important;
      background-clip: padding-box;
      background-color: rgba($tooltip, 1);

      &:hover {
        color: $primary !important;
      }
    }

    ul {
      padding: 0;
      background-color: transparent !important;

      &:hover {
        width: 100%;
        overflow: visible;
        background-color: $primary !important;
      }

      li {
        list-style-type: none;

        // different styles for links within ul
        a {
          border: 0;
          margin-left: 60px;
        }
      }
    }
  }
}