// main: ../flattish.scss

.res-nightmode .flair-fan { color: $pink-night !important; }
.flair-fan { color: $pink; }

.res-nightmode .flair-fan,
.flair-fan {
  font-size: 11px;
  padding: 2px;
  border: 1px;
  border-style: solid;
  border-color: #d1d1d1;
}
