// main: ../flattish.scss

.res-nightmode .flair-fan{
 font-size: 10px;
 padding: 2px;
 color: #ff99cc;
 border: 1px;
 border-style: solid;
 border-color: #d1d1d1;
}
.flair-fan {
  font-size: 10px;
  padding: 2px;
  color: #ff007e;
  border: 1px;
  border-style: solid;
  border-color: #d1d1d1;
}
