// main: ../flattish.scss

// get color hue and shade from color list
@function get-color($color-hue, $color-shade: '500') {
  $color: map-get(map-get($colors, $color-hue), $color-shade);
  @if $color {
    @return $color;
  } @else { @error '=> ERROR'; }
}

// theme colors
$primary: get-color('cyan', '500');
$dark-primary: get-color('cyan', '700');
$light-primary: get-color('cyan', '300');
$accent: get-color('orange', 'A200');
$dark-accent: get-color('orange', 'A400');
$light-accent: get-color('orange', 'A100');
$black: #000;
$white: #fff;

// link color
$link-color: get-color('blue', '500');
$link-color-hover: get-color('blue', '300');
$link-color-active: get-color('blue', '700');
$link-color-visited: get-color('deep-purple', '300');

$link-color-night: get-color('blue', '500');
$link-color-hover-night: get-color('blue', '300');
$link-color-active-night: get-color('blue', '700');
$link-color-visited-night: get-color('deep-purple', '300');

// vote arrows
$upvote: get-color('deep-orange', '500');
$downvote: get-color('indigo', '500');

// misc
$nsfw: get-color('red', 'A200');
$tooltip: rgba(get-color('grey', '700'), 0.9);
$error: rgb(222, 55, 38);

// typography
$font-stack: ('Roboto', 'Helvetica', 'Arial', sans-serif);

// shadows
$shadow-key-umbra-opacity: 0.2;
$shadow-key-penumbra-opacity: 0.14;
$shadow-ambient-shadow-opacity: 0.12;
$scrim: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.57) 80%);
$text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

// light theme
$light-status-bar: get-color('grey', '300');
$light-app-bar: get-color('grey', '100');
// $light-background: get-color('grey', '50');
$light-background: #f1f1f1;
$light-cards: $white;

// light theme text
$light-divider-text: rgba($black, 0.12);
$light-disabled-text: rgba($black, 0.38);
$light-hint-text: rgba($black, 0.38);
$light-secondary-text: rgba($black, 0.54);
$light-icons: rgba($black, 0.38);
$light-text: rgba($black, 0.87);

// dark theme
$dark-status-bar: $black;
$dark-app-bar: get-color('grey', '900');
$dark-background: #303030;
$dark-cards: get-color('grey', '800');

// dark theme text
$dark-divider-text: rgba($white, 0.12);
$dark-disabled-text: rgba($white, 0.5);
$dark-hint-text: rgba($white, 0.5);
$dark-secondary-text: rgba($white, 0.7);
$dark-icons: rgba($white, 0.38);
$dark-text: $white;

// buttons
$light-button-hover: rgba(#999, 0.2);
$light-button-focus: $light-divider-text;
$light-button-active: rgba(#999, 0.4);
$light-button-disabled: $light-disabled-text;

$dark-button-hover: rgba(#ccc, 0.15);
$dark-button-focus: $dark-divider-text;
$dark-button-active: rgba(#ccc, 0.25);
$dark-button-disabled: $dark-disabled-text;

// animation
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

// mediaquery break points
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// addons

// large header
// affects addons, content, footer, header, header-bottom-left, sidebar, base
$header-large: false;

// random, rotating header
// affects header, base
$random-header: true;
$num-header-images: 36;

// sidebar image
// affects addons, footer, sidebar
$sidebar-img: false;
$sidebar-img-height: 224px;

// pinned topics
// affects addons, content, header-bottom-left
$pinned-topics: true;

// cannot be empty if $pinned-topics
$pinned-map: (
  topic1: (
    type: 'link',
    image: 'help',
  ),
  topic2: (
    type: 'link',
    image: 'album',
  ),
  topic3: (
    type: 'link',
    image: 'calendar',
  ),
  topic4: (
    type: 'menu',
    image: 'media',
  ),
  topic5: (
    type: 'menu',
    image: 'shows',
  ),
);

// sticky link/menu background image positions
$album-bgp: 0 0;
$album-night-bgp: -60px 0;
$notice-bgp: -120px 0;
$notice-night-bgp: 0 -60px;
$calendar-bgp: -60px -60px;
$calendar-night-bgp: -120px -60px;
$help-bgp: 0 -120px;
$help-night-bgp: -60px -120px;
$info-bgp: -120px -120px;
$info-night-bgp: -180px 0;
$media-bgp: -180px -60px;
$media-night-bgp: -180px -120px;
$shows-bgp: 0 -180px;
$shows-night-bgp: -60px -180px;