// compileCompressed compressedFilenamePattern: ../../app/css/$1.min.css

@import '../../vendors/bourbon/bourbon';
@import '../../style/utils/color-list';
@import '../../style/utils/vars';
@import '../../style/utils/mixins';

$dropzone-border: rgb(66, 133, 244);
$dropzone-bg: rgba(51, 124, 255, .5);
$dropbox-border: #d9edf7;

// header
.header {
  padding: 60px 0;

  h1 {
    font-size: 60px;
  }
}

// color pickers
.color-pickers .form-inputs {
  display: table;

  input,
  .sp-replacer {
    display: table-cell;
  }

  // text field outside of spectrum
  input { @include border-right-radius(0); }

  // spectrum
  .sp-replacer {
    border-left-width: 0;
    @include border-left-radius(0);

    &.nightmode {
      background-color: $dark-cards;
    }
  }
}

// hide addon input forms
.addons__form,
.dropbox-container {
  display: none;
}

// random, rotating header
#rotating-header__input option {
  padding: 15px 0;
  text-align: center;
}

// iframe
iframe {
  border: 0;
}

.affix {
  top: 0;
  // right: 0;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .affix {
    position: static;
  }
}

// accordions
.panel-title > a {
  font-size: 12px;
}

#addons-accordion .label {
  float: right;
  margin-left: 2px;
  padding: .3em .6em;
}

// copy to clipboard button
.clipboard {
  position: relative;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: $white;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px;
  @include transition-default;

  &:hover {
    color: $white;
    background-color: #563d7c;
  }
}

// dropboxes
body {
  &::before {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: '';
    @include transition-default;
  }

  &.droppable::before {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid $dropzone-border;
    color: #fff;
    content: 'Drop file(s) to upload';
    font-size: 36px;
    font-weight: bold;
    text-shadow: $text-shadow;
    background-color: $dropzone-bg;
  }
}

.dropbox-container {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  border: 5px dashed $dropbox-border;
  border-radius: 5px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    background: repeating-linear-gradient(
      135deg,
      lightgray,
      lightgray 10px,
      darkgray 10px,
      darkgray 20px
    );
    border: 0;

    &:hover {
      cursor: not-allowed;
    }
  }
}

input.dropbox {
  display: none;
}

// compile button
#compile-div {
  display: inline-block;

  &.disabled {
    cursor: not-allowed;
  }

  .btn[disabled] {
    pointer-events: none;
  }
}

// footer
.footer {
  margin-top: 100px;
  padding: 50px 0;
}