.color-pickers .form-inputs {
  display: table;
}

.color-pickers .form-inputs input,
.color-pickers .form-inputs .sp-replacer {
  display: table-cell;
}

.color-pickers .form-inputs input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.color-pickers .form-inputs .sp-replacer {
  border-left-width: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
