// compileCompressed compressedFilenamePattern: ../../app/css/$1.min.css

@import '../../vendors/bourbon/bourbon';
@import '../../style/utils/color-list';
@import '../../style/utils/vars';

// header
.header {
  padding: 60px 0;

  h1 {
    font-size: 60px;
  }
}

// color pickers
.color-pickers .form-inputs {
  display: table;

  input,
  .sp-replacer {
    display: table-cell;
  }

  // text field outside of spectrum
  input { @include border-right-radius(0); }

  // spectrum
  .sp-replacer {
    border-left-width: 0;
    @include border-left-radius(0);

    &.nightmode {
      background-color: $dark-cards;
    }
  }
}

// random, rotating header
.addons__form {
  display: none;
}

#rotating-header__input option {
  padding: 15px 0;
  text-align: center;
}

// iframe
iframe {
  border: 0;
}

.affix {
  top: 0;
  // right: 0;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .affix {
    position: static;
  }
}

// dropzone
.dropbox-container {
  width: 100%;
  padding: 20px;
  border: 5px dashed #93cdee;
  border-radius: 5px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

input.dropbox {
  display: none;
}

// compile button
#compile-div {
  display: inline-block;

  &.disabled {
    cursor: not-allowed;
  }

  .btn[disabled] {
    pointer-events: none;
  }
}

// footer
.footer {
  margin-top: 100px;
  padding: 50px 0;
}