// compileCompressed compressedFilenamePattern: ../../app/css/$1.min.css

@import '../../vendors/bourbon/bourbon';
@import '../../style/utils/color-list';
@import '../../style/utils/vars';
@import '../../style/utils/mixins';

$dropzone-border: rgb(66, 133, 244);
$dropzone-bg: rgba(51, 124, 255, .5);
$dropbox-border: #d9edf7;

// header
.header {
  padding: 60px 0;

  h1 {
    font-size: 60px;
  }
}

// color pickers
.color-pickers .form-inputs {
  display: table;

  input,
  .sp-replacer {
    display: table-cell;
  }

  // text field outside of spectrum
  input { @include border-right-radius(0); }

  // spectrum
  .sp-replacer {
    border-left-width: 0;
    @include border-left-radius(0);

    &.nightmode {
      background-color: $dark-cards;
    }
  }
}

// hide addon input form when addon option is disabled
.addons__form,
.dropbox-container,
#pinned-topics-control {
  display: none;
}

// random, rotating header
#rotating-header__input option {
  padding: 10px 0;
  text-align: center;
}

// iframe
iframe {
  border: 0;
}

.affix {
  top: 0;
  // right: 0;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .affix {
    position: static;
  }
}

// accordions
.panel-title > a {
  font-size: 12px;
}

.nav-pills .label {
  float: right;
  font-size: 12px;
  margin-left: 2px;
  padding: .3em .6em;
}

// dropzones (drag and drop)
body {
  &::before {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: '';
    @include transition-default;
  }

  &.droppable::before {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid $dropzone-border;
    color: #fff;
    content: 'Drop file(s) to upload';
    font-size: 36px;
    font-weight: bold;
    text-shadow: $text-shadow;
    background-color: $dropzone-bg;
  }
}

// dropboxes
.dropbox-container {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  border: 5px dashed $dropbox-border;
  border-radius: 5px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    background: repeating-linear-gradient(
      135deg,
      lightgray,
      lightgray 10px,
      darkgray 10px,
      darkgray 20px
    );
    border: 0;

    &:hover {
      cursor: not-allowed;
    }
  }
}

input.dropbox {
  display: none;
}

// 'click to remove' uploaded header images
#rotating-header-dropbox-container .thumbnail {
  &::before {
    position: absolute;
    top: 0;
    left: 15px;
    height: calc(100% - 20px);
    width: calc(100% - 30px);
    border-radius: 4px;
    content: '';
    @include transition-default;
  }

  &:hover::before {
    position: absolute;
    top: 0;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
    width: calc(100% - 30px);
    border-radius: 4px;
    color: #fff;
    content: '\e083';
    font-family: 'Glyphicons Halflings';
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

// pinned topics
.pinned-topic {
  margin-top: 15px;
}

// pinned topics horizontal forms
.form-horizontal {
  margin: 15px 0;
}

// copy to clipboard button
.clipboard {
  position: relative;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: $white;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px;
  @include transition-default;

  &:hover {
    color: $white;
    background-color: #563d7c;
  }
}

// compile button
#compile-div {
  display: none;

  &.disabled {
    cursor: not-allowed;
  }
}

// spinner
@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.compiling {
  height: 34px;

  &::after {
    position: relative;
    top: -17px;
    left: 17px;
    display: block;
    height: 16px;
    width: 16px;
    content: '';

    border: 2px solid #563d7c;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: .75s linear infinite loading;
  }
}

// download button
#save-images {
  display: none;
}

// footer
.footer {
  margin-top: 100px;
  padding: 50px 0;
}