// main: ../../main.scss

// temporary empty state
#noresults {
	padding: 16px;
}

// post rank
.rank { display: none; }

// site table
.res-nightmode #siteTable {
	background-color: $dark-cards;

	.score.unvoted { color: $dark-disabled-text !important; }

	// individual post listings
	&>.thing {
		border-bottom: 1px solid $dark-divider-text !important;

		// RES active post highlight
		&.RES-keyNav-activeThing {
			background-color: rgba($dark-app-bar, 1) !important;
		}

		.title {
			color: $link-color !important;

	    &:hover { color: $link-color-hover !important; }

	    &:active { color: $link-color-active !important; }

	    &:visited { color: $link-color-visited !important; }
		}

		.tagline { color: $dark-text !important; }

		.domain,
		.domain a { color: $dark-secondary-text; }

		.buttons li a {	color: $dark-text; }
	}
}

#siteTable {
	border-radius: 2px;
	background-color: $light-cards;
	@include drop-shadow(1);

	// aligns score between new arrows
	.score {

		&.unvoted { color: $light-disabled-text; }

		&.likes { color: $upvote; }

		&.dislikes { color: $downvote; }
	}

	&>.likes .score,
	&>.dislikes .score,
	&>.thing .score {
		position: relative;
		height: 100%;
		padding: 3px 0;
		font-size: 14px;
		line-height: 1;
	}

	// individual post listings
	&>.thing {
		height: auto !important;
		margin: 0;
		border-bottom: 1px solid $light-divider-text !important;

		// RES active post highlight
		&.RES-keyNav-activeThing {
			background-color: rgba($light-app-bar, 1);
		}

		.entry.RES-keyNav-activeElement {
			background-color: transparent !important;
		}

		// post title
		.title {
			color: $link-color;
			line-height: 1.35;
			margin: 0;

			&:hover { color: $link-color-hover; }
			&:active { color: $link-color-active; }
			&:visited { color: $link-color-visited; }
		}

		.tagline { color: $light-text; }

		.domain,
		.domain a { color: $light-secondary-text; }

		// link action icons
		.buttons li {
			a { color: $light-text; }

			&:not(.first):not(:first-child) { opacity: 0; }
		}

		&:hover .buttons li:not(.first):not(:first-child) { opacity: 1; }
	}
}

// remove reddit default styling for borders of previously clicked links
.link.last-clicked { @include border-style(none none null none); }

// color of post score
.thing .link .score {

	&.likes { color: $upvote; }

	&.dislikes { color: $downvote; }
}

// mod approved post
.domain,
.approval-checkmark {
	float: right;
}

// expando related
.self .expanded ~ .expando .usertext-body {
	@include animation(0.2s slide-down $animation-curve-default forwards);
}

.tagline,
.flat-list.buttons {
	font-size: 12px;
}

// "submitted by"
.tagline { margin: 8px 0; }

// selftext body
.res-nightmode .link .usertext-body .md { border-color: $dark-text; }

.link .usertext-body .md {
	background-color: $light-background;
	border-color: $light-text;
	border-radius: 2px;
}

// nsfw stamp
.stamp {
	padding: 0;
	border: 0 !important;
}

.entry .buttons li.nsfw-stamp,
.nsfw-stamp acronym {
	border: 0 !important; // ;_; thx reddit css
	border-radius: 2px;
	background-color: $nsfw;
	color: $white;
	font-size: 12px;
	font-weight: bold;
	line-height: 0;
	padding: 0 2px;
}

.error {	color: $error; }

.entry {
	overflow: visible;
	margin-left: 133px;
}

.flat-list.buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	li {
		height: 20px;
		line-height: 18px;

		&.first { flex: 1 1 auto; }

		&:not(.first) {
			flex: 0 1 auto;

			a {
				display: inline-block;
				background-repeat: no-repeat;
				text-decoration: none;
			}
		}
	}
}

li a.post-sharing-button,
.link-save-button a,
.link-unsave-button a,
.hide-button a,
.unhide-button a,
a[data-event-action="delete"],
a[data-event-action="spam"],
a[data-event-action="remove"],
.approve-button a,
.reportbtn,
a[data-event-action="lock"],
a[data-event-action="unlock"],
a[data-event-action="marknsfw"],
a[data-event-action="unmarknsfw"],
a[data-event-action="distinguish"] {
	height: 20px;
	width: 20px;
	font-size: 0;
}

.link-save-button a,
.link-unsave-button a,
.state-button a[action="hide"],
.state-button a[action="unhide"] {
	transition: background 1s steps(59);
}

.res-nightmode .thing:not(.saved) .link-save-button a,
.res-nightmode .thing:not(.saved) .link-unsave-button a {
	background: url(%%save%%) 0 -20px;
}
.res-nightmode .saved .link-unsave-button a,
.res-nightmode .saved .link-save-button a {
	background: url(%%save%%) -1180px -20px;
}

// save button
.thing:not(.saved) .link-save-button a,
.thing:not(.saved) .link-unsave-button a {
	background: url(%%save%%) 0 0;
}

// unsave button
.saved .link-unsave-button a,
.saved .link-save-button a {
	background: url(%%save%%) -1180px 0;
}

// hide button
.state-button a[action="hide"] {
	background: url(%%hide%%) 0 0;
}

.res-nightmode .state-button a[action="hide"] {
	background: url(%%hide%%) 0 -20px;
}

// unhide button
.state-button a[action="unhide"] {
	background: url(%%hide%%) -1180px 0;
}

.res-nightmode .state-button a[action="unhide"] {
	background: url(%%hide%%) -1180px -20px;
}