.entry .buttons li a {
	color: $light-secondary-text;

	&:not(.comments):not(.flairselectbtn):not(.yes):not(.no) {
		display: inline-block;
		text-indent: -9999em;
		color: transparent;
	}
}

// set width of share, report, save, remove, and nsfw/un-nsfw buttons
.share a,
.report-button a,
.link-save-button a,
.remove-button input[value="removed"] ~ span > a,
.marknsfw-button input[value="marked"] ~ span > a,
.unmarknsfw-button input[value="unmarked"] ~ span > a {
	width: em(14, 12);
}

// set width of delete and remove icons
.del-button span > a,
.remove-button input[value="spammed"] ~ span > a {
	width: em(12, 12);
}

// share, save/unsave, report
@each $link-button in share, link-save-button, link-unsave-button, report-button {
	.#{$link-button} a { background: url(%%#{$link-button}%%) no-repeat; }
}

// hide and unhide
@each $link-buttons in hide, unhide {
	.hide-button span > a[action="#{$link-buttons}"] {
		width: em(16, 12); // width of hide/unhide icons
		background: url(%%#{$link-buttons}%%) no-repeat;
	}
}

// spam
.remove-button input[value="spammed"] ~ span > a { background: url(%%spam%%) no-repeat; }

// delete
.del-button span > a { background: url(%%delete%%) no-repeat; }

// remove
.remove-button input[value="removed"] ~ span > a { background: url(%%remove%%) no-repeat; }

// nsfw
.marknsfw-button input[value="marked"] ~ span > a { background: url(%%marked-nsfw%%) no-repeat; }

// un-nsfw
.unmarknsfw-button input[value="unmarked"] ~ span > a { background: url(%%unmarked-nsfw%%) no-repeat; }

// remove images from yes/no for delete, remove, and nsfw buttons
.del-button span > a,
.remove-button input[value="removed"] ~ span > a,
.unmarknsfw-button input[value="unmarked"] ~ span > a {
	&.yes,
	&.no {
		background: none;
	}
}

// approve post button
.approve-button span > a {
	width: em(15, 12);
	background: url(%%approve%%) no-repeat;
}
