// main: ../main.scss

// large header
$header-large: false;

// random header
$random-header: false;

// pinned topics
$pinned-topics: false;

@if $pinned-topics {
  .res-nightmode .titlebox blockquote p:nth-of-type(1),
  .res-nightmode .titlebox blockquote p:nth-of-type(2),
  .res-nightmode .titlebox blockquote p:nth-of-type(3),
  .res-nightmode .titlebox blockquote ul:nth-of-type(1),
  .res-nightmode .titlebox blockquote ul:nth-of-type(2),
  .titlebox blockquote p:nth-of-type(1),
  .titlebox blockquote p:nth-of-type(2),
  .titlebox blockquote p:nth-of-type(3),
  .titlebox blockquote ul:nth-of-type(1),
  .titlebox blockquote ul:nth-of-type(2) {
    background: url(%%stickies%%) no-repeat;
  }

  .res-nightmode {

    .titlebox blockquote {

      &::after { background-color: $dark-cards; }

      // help
      // album
      // calendar
      // media
      // music-shows
      p:nth-of-type(1) { background-position: -60px -120px; }
      p:nth-of-type(2) { background-position: -60px 0; }
      p:nth-of-type(3) { background-position: -120px -60px; }
      ul:nth-of-type(1) { background-position: -180px -120px; }
      ul:nth-of-type(2) { background-position: -60px -180px; }
    }
  }

  .titlebox blockquote {
    @if ($header-large == true) {
      top: 312px;
    } @else {
      top: 239px;
    }

    position: fixed;
    left: 16px;
    border: 0;
    margin: 0 !important;
    padding: 0;

    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      display: block;
      height: 100%;
      width: 60px;
      content: '';
      border-radius: 2px;
      @include drop-shadow(1);
      background-color: $light-cards;
    }

    p,
    ul,
    a {
      @include border-right-radius(2px);
    }

    p,
    ul {
      width: 60px;
      height: 60px;
      margin: 0 !important;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 16px 50%;
    }

    p {


      &:hover {
        width: 100%;
        background-color: $primary !important;
      }

      // help
      // album
      // calendar
      &:nth-of-type(1) { background-position: 0 -120px; }
      &:nth-of-type(2) { background-position: 0 0; }
      &:nth-of-type(3) { background-position: -60px -60px; }
    }

    a {
      display: block;
      height: 60px;
      border-left-width: 60px;
      border-left-style: solid;
      border-left-color: transparent;
      padding: 0 16px;
      line-height: 60px;
      font-size: 14px;
      color: $dark-text !important;
      background-clip: padding-box;
      background-color: rgba($tooltip, 1);

      &:hover {
        color: $primary !important;
      }
    }

    ul {
      padding: 0;

      &:hover {
        width: 100%;
        overflow: visible;
        background-color: $primary !important;
      }

      // media
      // music-shows
      &:nth-of-type(1) { background-position: -180px -60px; }
      &:nth-of-type(2) { background-position: 0 -180px; }

      ul {
        // avoids overlap of bg images due to nested ul
        background-image: none !important;
        background-color: transparent !important;

        &:hover { background-color: transparent !important; }
      }

      li {
        list-style-type: none;

        // different styles for links within ul
        a {
          border: 0;
          margin-left: 60px;
        }
      }
    }
  }
}