// main: ../main.scss

// RES settings menu hover animation
@include keyframes(RES-settings) {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: em(180, 10);
    height: em(330, 10);
    opacity: 1;
  }
}

// RES macros menu open animation
@include keyframes(RESmenuopen) {
  0% { @include transform(scale(0)); }
  100% { @include transform(scale(1)); }
}

// selftext expando animation
@include keyframes(slide-down) {
	0% {
		@include transform(translateY(-50%));
		opacity: 0;
	}
	100% {
		@include transform(translateY(0));
		opacity: 1;
	}
}

// material radio button toggle animation
@include keyframes(radio-toggle) {
  0% { background-size: 0; }
  100% { background-size: 100%; }
}

// ripple effect on button press
@include keyframes(button-ripple) {
	0% {
		@include transform(scale(0));
		opacity: 1;
	}
	100% {
		@include transform(scale(2));
		opacity: 0;
	}
}

// expando button +/- animation
@include keyframes(minustoplus) {
	0% { @include transform(rotate(90deg)); }
	100% { @include transform(rotate(0)); }
}