// main: ../main.scss

// dynamic text colors
@function set-text-color($bg-color, $text-type) {
  // if bgc is light, return dark colored text
  @if (lightness($bg-color) > 50) {
    @if ($text-type == text) {
      @return $light-text;
    } @else if ($text-type == secondary-text) or if ($text-type == icons) {
      @return $light-secondary-text;
    } @else if ($text-type == hint-text) or if ($text-type == disabled-text) {
      @return $light-disabled-text;
    } @else if ($text-type == divider-text) {
      @return $light-divider-text;
    }
  // if bgc is dark, return light colored text
  } @else if ($text-type == text) {
    @return $dark-text;
  } @else if ($text-type == secondary-text) or if ($text-type == icons) {
    @return $dark-secondary-text;
  } @else if ($text-type == hint-text) or if ($text-type == disabled-text) {
    @return $dark-disabled-text;
  } @else if ($text-type == divider-text) {
    @return $dark-divider-text;
  }
}

// dynamic gear icon
@function set-gearIcon() {
  @if (lightness($primary) > 50) {
    @return transparent url("%%settings%%") no-repeat !important;
  } @else {
    @return transparent url("%%settings-night%%") no-repeat !important;
  }
}