@import "../../vendors/bourbon/bourbon";

// shadows
@mixin drop-shadow($depth) {
  @if $depth == 1 {
    box-shadow: 0 1.5px 3px rgba(#000, 0.24), 0 3px 8px rgba(#000, 0.05);
  }
  @if $depth == 2 {
    box-shadow: 0 4px 7px rgba(#000, 0.23), 0 8px 25px rgba(#000, 0.05);
  }
  @if $depth == 3 {
    box-shadow: 0 7px 10px rgba(#000, 0.30), 0 10px 50px rgba(#000, 0.12);
  }
  @if $depth == 4 {
    box-shadow: 0 10px 15px rgba(#000, 0.28), 0 15px 60px rgba(#000, 0.18);
  }
  @if $depth == 5 {
    box-shadow: 0 16px 20px rgba(#000, 0.29), 0 20px 65px rgba(#000, 0.18);
  }
}

// autoprefixers
@mixin transition($value: all 0.5s ease 0s) {
  @include prefixer(transition, $value, webkit moz ms o spec);
}

@mixin animation($value) {
  @include prefixer(animation, $value, webkit moz ms o spec);
}

// burger
@mixin burger($width, $height, $gutter, $color, $border-radius) {
  $burger-height: $height !global;
  $burger-gutter: $gutter !global;
  position: relative;

  &, &:before, &:after {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    @include transition;
    @if $border-radius != 0 {
      border-radius: $border-radius;
    }
  }

  &:before, &:after {
    position: absolute;
    content: "";
  }

  &:before { top: -($height + $gutter); }

  &:after { top: $height + $gutter; }
}

// @mixin transitions {
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }

// @mixin transitions-shadow {
//   -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
//   -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
//   -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
//   transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
// }

// @mixin transitions-shadow-hover {
//   -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
//   -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
//   -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
//   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
// }