@import "color-list";

// get color hue and shade from color list
@function get-color($color-hue, $color-shade: "500") {
  $color: map-get(map-get($colors, $color-hue), $color-shade);
  @if $color {
    @return $color;
  } @else { @error "=> ERROR"; }
}

// define colors
$primary: get-color("green", "500");
$dark-primary: get-color("green", "700");
$light-primary: get-color("green", "100");
$accent: get-color("blue", "A200");
$dark-accent: get-color("blue", "A400");
$light-accent: get-color("blue", "A100");

// grayscale
$dark-grey: get-color("grey", "600");
$med-grey: get-color("grey", "300");
$light-grey: get-color("grey", "200");
$white: get-color("grey", "50");

// link color (can be any hue from color list)
$link-color: blue;

// :link
// :hover
// :active
// :visited

$font-stack: "Arial", sans-serif;

$upvote: #c60c30;
$downvote: #063c6d;